@charset "utf-8";.person{width:100%;height:.8rem;background-color:#1a1a1a;position:fixed;top:0;left:0;z-index:100}
.person .title{height:.7rem;padding:.3rem 0 0 4%}
.person .title a img{width:.34rem;height:.34rem}
.person .title span{font-size:.3rem;color:#fff;vertical-align:top}
.person .title span{margin-left:32%}
.person .title a img.info{margin-left:34%}
*{margin:0;padding:0;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-overflow-scrolling:touch;overflow-scrolling:touch}
ul{list-style:none}
a{text-decoration:none}
.find_nav{width:100%;height:.77rem;margin-top:.1rem;background-color:#fff;display:-moz-box;display:-webkit-box;display:box;border-bottom:.01rem solid #b3b3b3}
.find_nav_left{height:.77rem;position:relative;overflow:hidden;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1}
.find_nav_list{position:absolute;left:0}
.find_nav_list ul{position:relative;white-space:nowrap;font-size:0}
.find_nav_list ul li{display:inline-block;width:1.1rem;margin-left:.215rem}
.find_nav_list ul li a{display:block;width:100%;height:100%;line-height:.77rem;text-align:center;font-size:.26rem;color:#030303}
.find_nav_cur a{color:#d00a0a!important}
.sideline{display:block;position:absolute;border:0;height:.03rem;background-color:#d00a0a;left:0;top:96%;pointer-events:none}
.nav_header_img{width:.68rem;height:100%;border-left:.01rem solid #e7e7e7;display:inline-block}
.nav_header_img img{width:.36rem;height:.33rem;margin-left:.15rem;margin-top:.18rem}
.slider_list{position:relative;z-index:1;overflow:hidden;clear:both;height:2.58rem;position:relative}
.swipe{position:relative;overflow:hidden;visibility:hidden}
.swipe-wrap{overflow:hidden;position:relative;height:2.58rem}
.swipe-wrap>div{float:left;width:100%;height:100%;position:relative}
.swipe-wrap img{width:100%;height:100%}
.slider_list span{display:inline-block;width:1.09rem;height:.32rem;line-height:.32rem;background-color:#000;opacity:.3;font-size:.2rem;text-align:center;color:#fff;border-radius:.2rem;position:absolute;top:80%;right:3%}
.redbag{width:100%;height:1.51rem;background-color:#fff6e6;border-bottom:.01rem solid #f9c998;font-size:0;position:relative}
.redbag .redbag_head{display:inline-block;height:100%;width:26%;border-right:.01rem solid #f9c998;text-align:center;background-color:#fff}
.redbag .redbag_head img{width:.65rem;height:.65rem;border-radius:50%;margin-top:.3rem}
.redbag .redbag_head span{display:inline-block;font-size:.18rem;margin-top:.15rem;color:#333}
.redbag .redbag_info{display:inline-block;width:74%;height:100%;vertical-align:top;margin:0;text-align:center;font-size:0}
.redbag .redbag_info li{display:inline-block;width:25%;height:100%;text-align:center}
.redbag .redbag_info li b{display:inline-block;color:#e34c4c;font-size:.3rem;margin-top:.3rem}
.redbag .redbag_info li span{display:inline-block;font-size:.18rem;margin-top:.1rem;color:#333}
.redbag .redbag_div{width:74%;height:25%;background-color:#fff6e6;position:absolute;right:0;bottom:0;border-top:.01rem solid #f9c998}
.redbag .redbag_div .div_v{font-size:.2rem;color:#e34c4c;line-height:.38rem;margin-left:.15rem;margin-right:.15rem}
.redbag .redbag_div .progress{width:1.3rem;height:40%;background-color:#eee;display:inline-block;border-radius:.3rem;vertical-align:top;margin-top:.12rem}
.redbag .redbag_div .progress img{height:100%;border-radius:.3rem}
.redbag .redbag_div .div_right{font-size:.2rem;color:#333;line-height:.38rem;text-decoration:none;margin-left:.3rem}
.redbag .redbag_div .div_right i{color:#e34c4c;font-style:normal}
.redbag_title{width:100%;height:.68rem;border-bottom:.01rem solid #f2f2f2;position:relative;background-color:#fff}
.redbag_title img{width:.18rem;height:.24rem;margin-top:3.5%;margin-left:40%}
.redbag_title span{display:inline-block;color:#333;margin-top:2.6%;margin-left:.05rem;font-size:.24rem}
.redbag_title u{text-decoration:none;color:#b8b8b8;position:absolute;top:27%;right:3%;font-size:.24rem}
.redbag_top{width:100%;height:.76rem;border-bottom:.01rem solid #f2f2f2;font-size:0;background-color:#fff}
.redbag_top li{width:25%;display:inline-block;font-size:.24rem;text-align:center;color:#333;margin-top:.24rem;border-right:.01rem solid #f2f2f2}
.redbag_top li:nth-child(4){border:0 none}
.redbag_top li.cur{color:#e76764}
.redbag_contain{width:100%;background-color:#fff;padding:.18rem;height:4.8rem}
.tanchuang{width:3.5rem;height:2rem;background-color:#fff;position:fixed;top:40%;left:20%;border-radius:.1rem;display:none;z-index:102}
.tanchuang .tanchuang_top{width:100%;height:60%;border-radius:.1rem;text-align:center;line-height:1.4rem;font-size:.26rem;border-bottom:.01rem solid #eee}
.tanchuang .tanchuang_bottom{width:100%;height:40%;font-size:0}
.tanchuang .tanchuang_bottom button{display:inline-block;width:50%;height:100%;font-size:.22rem;text-align:center;line-height:.8rem;color:#87ceeb;outline:0;border:0 none;background-color:#fff;border-radius:.1rem}
.tanchuang .tanchuang_bottom .ensure{border-right:.01rem solid #eee}
.bg_tanchuang{width:100%;height:100%;background-color:#000;opacity:.3;position:fixed;top:0;left:0;z-index:100;display:none}
.redbag_contain .redbag_item{background-color:#f2f2f2;margin:0 auto;width:100%;height:1.36rem;margin-bottom:.18rem;font-size:0;position:relative}
.redbag_contain .redbag_item .item_left{display:inline-block;width:38.5%;height:100%;background:url(../../images/goldegg/hongbao1.png) no-repeat left top;background-size:100% 100%;vertical-align:top}
.redbag_contain .redbag_item .item_left span{margin-top:7%;display:inline-block;color:#fff;font-size:.24rem;margin-left:51%}
.redbag_contain .redbag_item .item_left u{display:inline-block;color:#fff;font-size:.34rem;text-decoration:none;margin-left:45%;margin-top:3%}
.redbag_contain .redbag_item .item_left i{display:inline-block;color:#fff;font-size:.16rem;margin-left:30%;font-style:normal}
.redbag_contain .redbag_item .item_right{display:inline-block;width:61.5%;font-size:0;height:100%}
.redbag_contain .redbag_item .item_right span{display:inline-block;color:#666;font-size:.28rem;margin-left:.24rem;margin-top:3%}
.redbag_contain .redbag_item .item_right u{display:inline-block;color:#666;font-size:.16rem;text-decoration:none;margin-left:.24rem;margin-top:9%}
.redbag_contain .redbag_item .item_right i{display:block;color:#ccc;font-size:.16rem;font-style:normal;margin-left:.24rem;margin-top:2%}
.redbag_contain .redbag_item .logo{width:.56rem;height:.57rem;position:absolute;top:15%;right:7%}
.redbag_contain .redbag_item .use{width:1.22rem;height:.39rem;position:absolute;top:60%;right:2%}
.redbag_contain .redbag_item2{background-color:#f2f2f2;margin:0 auto;width:100%;height:1.36rem;margin-bottom:.18rem;font-size:0;position:relative}
.redbag_contain .redbag_item2 .item_left{display:inline-block;width:38.5%;height:100%;background:url(../../images/goldegg/hongbao1g.png) no-repeat left top;background-size:100% 100%;vertical-align:top}
.redbag_contain .redbag_item2 .item_left span{margin-top:7%;display:inline-block;color:#fff;font-size:.24rem;margin-left:51%}
.redbag_contain .redbag_item2 .item_left u{display:inline-block;color:#fff;font-size:.34rem;text-decoration:none;margin-left:45%;margin-top:3%}
.redbag_contain .redbag_item2 .item_left i{display:inline-block;color:#fff;font-size:.16rem;margin-left:41%;font-style:normal}
.redbag_contain .redbag_item2 .item_right{display:inline-block;width:61.5%;font-size:0;height:100%}
.redbag_contain .redbag_item2 .item_right span{display:inline-block;color:#666;font-size:.28rem;margin-left:.24rem;margin-top:3%}
.redbag_contain .redbag_item2 .item_right u{display:inline-block;color:#666;font-size:.16rem;text-decoration:none;margin-left:.24rem;margin-top:9%}
.redbag_contain .redbag_item2 .item_right i{display:block;color:#ccc;font-size:.16rem;font-style:normal;margin-left:.24rem;margin-top:2%}
.redbag_contain .redbag_item2 .logo{width:.56rem;height:.57rem;position:absolute;top:15%;right:7%}
.redbag_contain .redbag_item2 .use{width:1.22rem;height:.39rem;position:absolute;top:60%;right:2%}
.gift{width:100%;height:auto;margin-top:.1rem;background-color:#fff;overflow:hidden}
.gift .gift_item{height:4.8rem;width:49%;background-color:#fff;display:inline-block;margin-bottom:.1rem;font-size:0}
.gift .gift_item .gift_img{width:100%;height:3.2rem;position:relative}
.gift .gift_item .gift_img img{width:100%;height:100%}
.gift .gift_item .gift_img .icon_v{width:.34rem;height:.34rem;background:url(../../images/goldegg/me_icon_level@3x.png);background-size:100% 100%;position:absolute;top:91%;right:3%;font-size:.2rem;color:#fff;text-align:center;line-height:.34rem}
.gift .gift_item span{display:inline-block;font-size:.24rem;letter-spacing:.02rem;margin-left:.1rem;margin-top:.1rem;width:3rem;height:.65rem;overflow:hidden}
.gift .gift_item u{display:inline-block;color:#999;font-size:.2rem;text-decoration:none;margin-left:.1rem;margin-top:.1rem}
.gift .gift_item del{display:inline-block;text-decoration:none;color:#e34949;font-size:.28rem;margin-left:.1rem;margin-top:.1rem}
.gift .gift_item i{display:inline-block;font-style:normal;font-size:.2rem;margin-left:.05rem}
.gift .gift_item .duihuan{width:1.46rem;height:.45rem;margin-left:.4rem}
.chit{width:100%;height:auto;padding:.18rem;padding-bottom:0;background-color:#fff}
.chit .chit_item{width:100%;height:1.53rem;background:url(../../images/goldegg/bg@2x.png);background-size:100% 100%;margin-bottom:.18rem;position:relative}
.chit .chit_left{display:inline-block;color:#f23155;font-size:0}
.chit .chit_left span{margin-top:.4rem;margin-left:.7rem;display:inline-block;font-size:.32rem}
.chit .chit_left i{margin-left:.3rem;display:inline-block;font-style:normal;font-size:.18rem}
.chit .chit_right_top{display:inline-block;width:2.7rem;height:auto;border-bottom:.01rem dashed red;font-size:.24rem;color:#666;vertical-align:top;margin-top:.1rem;margin-left:.25rem}
.chit .chit_right_top span{display:inline-block;margin-bottom:.03rem}
.chit .chit_right_bottom{width:2.7rem;margin-left:2rem;position:absolute;top:31%;left:-4%;font-size:0}
.chit .chit_right_bottom span{display:inline-block;font-size:.18rem;color:#666}
.chit .chit_right_bottom u{display:inline-block;font-size:.18rem;color:#929393;text-decoration:none}
.chit .chit_right_bottom i{display:inline-block;font-size:.2rem;color:#666;font-style:normal;margin-top:.35rem}
.chit .chit_right_bottom b{display:inline-block;font-size:.18rem;color:#929393;font-weight:400;margin-top:.35rem;margin-left:.1rem}
.chit .chit_item img{width:1.48rem;height:.5rem;position:absolute;right:5%;top:40%}
