<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta name="sharecontent" data-msg-img="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=2927678406,1546747626&fm=58"/>
	<title>首页</title>
	<link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="css/swiper.min.css"><!-- Link Swiper's CSS -->
	<link rel="stylesheet" href="css/base_index.css">
</head>
<body style="background-color:#eeeeee;margin-top:1.8rem">

    <!-- 头部搜索框部分 -->
    <section class="open">
            <div class="open_title">
                <img src="images/main_img/open1.png" alt="">
            </div>
            <div class="open_click" id="btnOpenApp">
                <img src="images/main_img/open2.png">
            </div>
            <div class="open_close">
                <img src="images/main_img/open_close.png">
            </div>
    </section>
    <header class="nav">
        <div class="shangjia">
            <img src="images/main_img/merchant.png" alt="">
            <a><span>商家</span></a>
        </div>
        <div class="input">
            <!-- <input type="text" name=""> -->
            <a href="tmpl/search.html">
            <span></span>
            <img src="images/main_img/search.png" alt="" class="search">
            </a>
        </div>
        <div class="xiaoxi">
            <img src="images/main_img/dialogbox.png" alt="">
            <a><span>消息</span></a>
        </div>
    </header>


    <!-- 头部搜索框部分结束 -->

	<!-- 轮播图部分开始 -->
	<div class="slider_list" id="main_content1"></div>
	<!-- 轮播图部分结束 -->

	<!-- 活动部分选项开始 -->
	<section class="activity">
		<ul>
            <a href="tmpl/supmar.html">
			<li>
				<img src="images/main_img/icon_index1.png" alt="">
				<a>自营超市</a>
			</li>
            </a>
            <a href="tmpl/cheap9.html">
			<li>
				<img src="images/main_img/icon_index2.png" alt="">
				<a class="three">9块9</a>
			</li>
            </a>
            <a href="./supergoods/superGoods_sale.html">
			<li>
				<img src="images/main_img/icon_index3.png" alt="">
				<a>超级好货</a>
			</li>
            </a>
            <a href="tmpl/savemoney/savemoney.html">
			<li>
				<img src="images/main_img/icon_index4.png" alt="">
				<a class="three">惠省惠赚</a>
			</li>
            </a>
            <a href="tmpl/discount.html">
			<li>
				<img src="images/main_img/icon_index5.png" alt="">
				<a class="three">限时折扣</a>
			</li>
            </a>
            <a href="tmpl/goods_free_post.html">
                <li>
				<img src="images/main_img/icon_index6.png" alt="">
				<a class="three">好物包邮</a>
			    </li>
            </a>
            <a href="tmpl/fresh.html">
            <li>
				<img src="images/main_img/icon_index7.png" alt="">
				<a class="three">生鲜特产</a>
			</li>
            </a>
            <a href="tmpl/fans-circle.html">
			<li>
				<img src="images/main_img/icon_index8.png" alt="">
				<a class="three">粉丝圈</a>
			</li>
            </a>
            <a href="tmpl/goldeggsbuy.html">
			<li>
				<img src="images/main_img/icon_index9.png" alt="">
				<a class="three">金蛋购</a>
			</li>
            </a>
            <a href="./tmpl/sendbless_list.html">
			<li>
				<img src="images/main_img/icon_index12.png" alt="">
				<a>送福免单</a>
			</li>
            </a>
		</ul>
	</section>
	<!-- 活动部分选项结束 -->

	<div id="main_content2">
        <!-- 文字信息部分开始 -->

        <!-- 文字信息部分结束 -->
    </div>

    <!--底部-->
    <div class="foot"></div>
    <!--底部-->

	<!-- 底部固定导航栏开始 -->
	<footer class="nav_footer">
		<ul>
			<li>
                <a href="index.html">
				<img src="images/PersonalCenter_img/tab_home_snormal@3x.png" alt="">
				<span>首页</span>
                </a>
			</li>
			<li>
                <a href="./tmpl/product_first_categroy.html">
				<img src="images/PersonalCenter_img/tab_classify_normal@2x.png" alt="">
				<span>分类</span>
                </a>
			</li>
			<li class='pennygo'>
                <a href="./tmpl/newbuyer.html">
				<img src="images/PersonalCenter_img/pennygo@2x.png" alt="">
                </a>
			</li>
			<li>
                <a href="tmpl/cart_list.html">
				<img src="images/PersonalCenter_img/tab_cart_normal@3x.png" alt="">
				<span>购物车</span>
                </a>
			</li>
			<li>
                <a href="tmpl/member/member.html">
				<img src="images/PersonalCenter_img/person.png" alt="">
				<span>我的</span>
                </a>
			</li>
		</ul>
	</footer>
	<!-- 底部固定导航栏结束 -->

    <!-- 弹框广告  start -->
    <div class="pop-ad-wrap">
        <div class="pop-ad">
            <div class="img-wrap-con">
                <i class="icon"></i>
                <a href="#">
                    <img src="" alt="" />
                </a>
            </div>
        </div>
    </div>
    <!-- 弹框广告  end -->

    <script type="text/html" id="slider_list">
        <div class="swipe-wrap" >
            <% for (var i in item) { %>
            <div class="item" >
                <a href="<%= item[i].data %>">
                    <img src="<%= item[i].image %>" alt="">
                </a>
            </div>
            <% } %>
        </div>
    </script>

    <script type="text/html" id="slider_list2">
        <div class="lunbo_footer">
            <div class="slider_list" >
                <div class="swipe-wrap">
                    <% for (var i in item) { %>
                    <div class="item" >
                        <a href="<%= item[i].data %>">
                            <img src="<%= item[i].image %>" alt="">
                        </a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="home1">
        <img src="<%= image %>" alt="" class="newusers">
    </script>

    <script type="text/html" id="home3">
        <section class="main_goods">
            <ol>
                <% for (var i in item) { %>
                <a href="<%= item[i].data %>">
                <li><img src="<%= item[i].image %>" alt="" class="main_img"></li>
                </a>
                <% } %>
            </ol>
           <!--  <p><b>02</b> :<u>30</u> :<i class="countdown_second">48</i></p> -->
        </section>
    </script>

    <script type="text/html" id="home5">
      <!-- <div class="new_img">
          <ul>
              <% for (var i in item) { %>
              <li><a ><img src="<%= item[i].image %>" alt=""></a></li>
              <% } %>
          </ul>
      </div> -->
      <div class="swiper-container">
        <div class="swiper-wrapper">
            <% for (var i in item) { %>
            <div class="swiper-slide"><a href="<%= item[i].data %>"><img src='<%= item[i].image %>' alt=""></a></div>
            <% } %>
        </div>
    </div>
    </script>

    <script type="text/html" id="shop">
        <section class="find">
            <ul>
                <% for (var i in item) { %>
                <li>
                    <div>
                        <% var num = 1%>
                        <% for (var j in item[i].goods) { %>
                        <a href="tmpl/findgoodshop.html?shop_id=<%= item[i].shop_id %>">
                        <img src="<%= item[i].goods[j].goods_image %>" class="goods<%= num%>">
                        </a>
                        <% num++%>
                        <% } %>
                    </div>
                    <span><%= item[i].shop_name %></span>
                </li>
                <% } %>
            </ul>
        </section>
    </script>

    <script type="text/html" id="goods">
        <% if (title) { %>
        <div class="guess"><span><%= title %></span></div>
        <% } %>
        <section class="guess-like">
            <% for (var i in item) { %>
            <div class="guess-like-item">
                <a href="tmpl/product_detail.html?goods_id=<%=item[i].goods_id %>" >
                    <img src="<%= item[i].goods_image %>" alt="">
                    <h3><%= item[i].goods_name %></h3>
                </a>
                <div class="bg">分享立省￥<%= item[i].common_share_price %></div>
                <%if(item[i].common_is_promotion){%>
                <div class="bg">立赚￥<%= item[i].common_promotion_price %></div>
                <%}%>
                <b>￥<%= item[i].common_shared_price %></b>
            </div>
            <% } %>
        </section>
    </script>

    <script type="text/html" id="info_data">
        <div class="word_wrap">
            <div class="word">
                <img src="images/main_img/news.png" alt="" class="word_img">
                <div class="notice_active">
                    <ul>
                        <% for (var i in item) { %>
                            <li class="notice_active_ch">
                                <a href="tmpl/information.html?id=<%=item[i].id%>"><span><%=item[i].group_title%></span> <%=item[i].title%></a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </script>

	<script type="text/javascript" src='js/jquery-1.11.3.min.js'></script>
    <script type="text/javascript" src="js/config.php"></script>
    <script type="text/javascript" src="js/zepto.min.js"></script>
    <script type="text/javascript" src="js/template.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/swipe.js"></script>
	<script type="text/javascript" src='js/homepage.js'></script>
    <script type="text/javascript" src='js/swiper.min.js'></script>
    <!--<script type="text/javascript" src='js/open_app.js'></script>-->

    <script src="https://static.mlinks.cc/scripts/dist/mlink.min.js"></script>
    <script>
        new Mlink({
            mlink:'https://a0ncmk.mlinks.cc/Ab5y',
            button:document.querySelector('#btnOpenApp')
        });
    </script>
</body>
</html>