<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>好友列表</title>
	<link rel="stylesheet" href="../../css/friendletter/base.css">
	<link rel="stylesheet" href="../../css/friendletter/addressbook.css">
	<link rel="stylesheet" type="text/css" href="../../css/friendletter/foot_base.css">

</head>
<body>
	<!--头部 start-->
	<header class="person blackbg">
		好友
		<a href="javascript:void(0) ;" class="back"></a>
		<span class="addicon addicon_tx"></span>
		<!--<div class="add_tips">-->
			<!--<i></i>-->
			<!--<ul>-->
				<!--<li><a href="./groupchat.html">发起群聊</a></li>-->
				<!--<li><a href="./addfriend.html">添加好友</a></li>-->
			<!--</ul>-->
		<!--</div>-->
	</header>
	<!--头部 end-->
	<!--搜索框 start-->
	<!--<div class="search">
		<div class="searchwrap">
			<input type="text" placeholder="搜索联系人">
			<a href="#" class="search_btn">搜索</a>
		</div>
	</div>-->
	<!--搜索框 end-->
	<!--友信列表 start-->
	<div class="main">
		<div class="main_wrap friend_List choose_friends">
		</div>
		<!--右侧字母检索start-->
		<div class="indexes_list">
			<ul>
				<li><a href="#link_A"  >A</a></li>
				<li><a href="#link_B" >B</a></li>
				<li><a href="#link_C" >C</a></li>
				<li><a href="#link_D" >D</a></li>
				<li><a href="#link_E" >E</a></li>
				<li><a href="#link_F" >F</a></li>
				<li><a href="#link_G" >G</a></li>
				<li><a href="#link_H" >H</a></li>
				<li><a href="#link_I" >I</a></li>
				<li><a href="#link_J" >J</a></li>
				<li><a href="#link_K" >K</a></li>
				<li><a href="#link_L" >L</a></li>
				<li><a href="#link_M" >M</a></li>
				<li><a href="#link_N" >N</a></li>
				<li><a href="#link_O" >O</a></li>
				<li><a href="#link_P" >P</a></li>
				<li><a href="#link_Q" >Q</a></li>
				<li><a href="#link_R" >R</a></li>
				<li><a href="#link_S" >S</a></li>
				<li><a href="#link_T" >T</a></li>
				<li><a href="#link_U" >U</a></li>
				<li><a href="#link_V" >V</a></li>
				<li><a href="#link_W" >W</a></li>
				<li><a href="#link_X" >X</a></li>
				<li><a href="#link_Y" >Y</a></li>
				<li><a href="#link_Z" >Z</a></li>
				<li><a href="#link_#" >#</a></li>
			</ul>
		</div>
		<!--右侧字母检索end-->
	</div>
	<!--友信列表 end-->
	<!--插入脚部 start-->
	<div class="foot_btn">
		<a href="javascript:;" class="btn_qx">取消</a>
		<a href="javascript:;" class="btn_qr">确定</a>
	</div>
	<!--插入脚部 end-->
<script type="text/html" id="friend_List">
	<% if(data){ %>
		<% for(var i in data){ %>
			<div class="namewrap">
				<a class="name_indexes" name="link_<%=data[i][0]['initials']%>"><%=data[i][0]['initials']%></a>
				<ul>
					<% for(var j in data[i]){ %>
					<li class="namelist" data-id="<%=data[i][j]['friend_id']%>">
						<img src="<%=data[i][j]['friend_image']%>" alt="" onerror="this.src='../img/robot-ss.png'" />
						<a href="javascript:void(0)" class="user_name"><%=data[i][j]['friend_name']%></a>
						<div class="choose_friends_btn">

						</div>
					</li>
					<% }%>
				</ul>
			</div>
		<% }%>
	<% }%>
</script>
<!--<script src="../../js/jquery-1.8.3.min.js"></script>-->
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/config.php"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src='../../js/template.js'></script>
<script src="../../js/friendletter/addressbook.js"></script>

</body>
</html>