@charset "utf-8";
/***************头部部分开始**************************************/
.person{
    width:100%;
    height:.8rem;
    background-color: #1a1a1a;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
}
.person .title{
    height:.7rem;
    padding: .3rem 0 0 4%;
}
.person .title a img{
    width:.34rem;
    height:.34rem;
}
.person .title span{
    font-size: .3rem;
    color:#fff;
    vertical-align: top;
}
.person .title span{
    margin-left:32%;
}
.person .title a img.info{
    margin-left:30%;
}
/***************头部部分结束**************************************/
.all_wrap{
    width:100%;
    height:.62rem;
    background-color:#fff;
    position:relative;
}

.all_wrap .all{
    width:4.1rem;
    height:.62rem;
    font-size: 0;
    background-color:#fff;
    display:inline-block;
    vertical-align:top;
}
.all_wrap .all li{
    display: inline-block;
    border-right: .01rem solid #eee;
    width:1.025rem;
    height:.62rem;
    text-align: center;
    line-height: .62rem;
    font-size:.22rem;
    color:#666;
}
.all_wrap .all li.cur{
    color:#e45050;
}
.all_wrap .quanxuan{
    display:inline-block;
    width:1rem;
    height:100%;
    line-height:.62rem;
    text-align: center;
    font-size: .18rem;
    color:#666;
    position:absolute;
    left:65%;
    top:7%;

}
.all_wrap .quanxuan input{
    display:inline-block;
    border:0 none;
    width:.25rem;
    height:.25rem;
    outline: none;
    outline:none;
    border-radius: 50%;
    vertical-align:top;
    margin-top: .17rem;
}
.all_wrap .shanchu{
    display:inline-block;
    width:1rem;
    height:100%;
    line-height:.62rem;
    text-align: center;
    font-size: .18rem;
    color:#666;
    position:absolute;
    left:80%;
    top:7%;
}
.contain{
    width:100%;
    height:1.58rem;
    background-color:#fff;
    margin-top:.1rem;
}
.contain .contain_top{
    width:100%;
    height:.48rem;
    background-color:#fff;
    border-bottom: .01rem solid #eee;
    line-height:.48rem;
    font-size: .16rem;
    position:relative;
}
.contain .contain_top input{
    width:.2rem;
    height:.2rem;
    position:absolute;
    top:23%;
    left:3%;
    outline:none;
}
.contain .contain_top label{
    margin-left: .5rem;
    color: #666;
}
.contain u{
    display:block;
    text-decoration: none;
    font-size: .22rem;
    color:#666;
    border-left: .02rem solid #e45050;
    margin-left: .2rem;
    padding-left: .1rem;
    margin-top:.1rem;
}
.contain b{
    width:5.46rem;
    height:.6rem;
    display:block;
    font-weight:normal;
    color:#666;
    font-size: .2rem;
    margin-left: .2rem;
    margin-top:.1rem;
    overflow: hidden;
}
.contain .C99{
    color:#999;
}
.tanchuang{
    width:3.5rem;
    height:2rem;
    background-color:#fff;
    position:fixed;
    top:40%;
    left:20%;
    border-radius:.1rem;
    display:none;
    z-index:102;
}
.tanchuang .tanchuang_top{
    width:100%;
    height:60%;
    border-radius:.1rem;
    text-align: center;
    line-height:1.4rem;
    font-size: .26rem;
    border-bottom:.01rem solid #eee;
}
.tanchuang .tanchuang_bottom{
    width:100%;
    height:40%;
    font-size: 0;
}
.tanchuang .tanchuang_bottom button{
    display:inline-block;
    width:50%;
    height:100%;
    font-size: .22rem;
    text-align: center;
    line-height:.8rem;
    color:skyblue;
    outline: none;
    border:0 none;
    background-color:#fff;
    border-radius:.1rem;
}
.tanchuang .tanchuang_bottom .ensure{
    border-right:.01rem solid #eee;
}
.bg_tanchuang{
    width:100%;
    height:100%;
    background-color:#000;
    opacity:.3;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    display:none;  
}