@charset "utf-8";
/***************头部部分**************************************/
.person{
    width:100%;
    height:.8rem;
    background-color: #e45050;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
}
.person .title{
    height:.7rem;
    padding: .3rem 0 0 4%;
}
.person .title a img{
    width:.34rem;
    height:.34rem;
}
.person .title span{
    font-size: .3rem;
    color:#fff;
    vertical-align: top;
}
.person .title span{
    margin-left:32%;
}
.person .title a img.info{
    margin-left:32%;
}
/***************头部部分**************************************/

/********滚动导航栏部分*********/
*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-overflow-scrolling:touch;overflow-scrolling:touch;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.find_nav {
    width: 100%;
    height:.77rem;
    margin-top:.1rem;
    background-color:#fff;
    display: -moz-box;
    display: -webkit-box;
    display: box;
}
.find_nav_left {
    height: .77rem;
    position: relative;
    overflow: hidden;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}
.find_nav_list {
    position: absolute;
    left: 0;
}
.find_nav_list ul {
    position: relative;
    white-space: nowrap;
    font-size: 0;
}
.find_nav_list ul li {
    display: inline-block;
    width:1.1rem;
    margin-left:.215rem; 
}
.find_nav_list ul li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: .77rem;
    text-align: center;
    font-size:.26rem;
    color:#030303;
}
.find_nav_cur a {
    color:#e45050 !important;
}
.sideline {
    display: block;
    position: absolute;
    border: 0;
    height: .02rem;
    background-color: #e45050;
    left: 0;
    top:95%;
    pointer-events: none;
}
.nav_header_img{
    width:.68rem;
    height:100%;
    border-left: .01rem solid #e7e7e7;
    display:inline-block;
}
.nav_header_img img{
    width:.36rem;
    height:.33rem;
    margin-left: .15rem;
    margin-top:.18rem;
}
/********滚动导航栏部分*********/

/**************主图轮播图*************************/
  .slider_list { position: relative; z-index: 1; overflow: hidden;clear:both;height:2.6rem;}
  .swipe { position: relative; overflow: hidden; visibility: hidden; }
  .swipe-wrap { overflow: hidden; position: relative; height:2.6rem;}
  .swipe-wrap > div { float: left; width: 100%; height:100%;position: relative; }
  .swipe-wrap img { width: 100%;height:100%;}
/**************主图轮播图*************************/

/********优选好货title********/
.goodselect{
    width:100%;
    height:.52rem;
}
.goodselect img{
    width:100%;
    height:100%;
}
/********优选好货title********/

/*********优选好货contain********/
    .swiper-container {
        width: 100%;
        height:1.45rem;
        margin: 0 auto;
        background-color: #fff;
        padding-left: .3rem;
    }
    .swiper-slide {
        width:1.65rem !important;
        height:1.1rem !important;
        margin: .18rem 0 0 -.05rem;
        border-radius: .1rem;
        text-align: center;
        font-size: .18rem;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide img{
        width:100%;
        height:100%;
        border-radius: .1rem;
    }
/*********优选好货contain********/











.proprietary_goods{
    width:100%;
    margin:0 auto;
    background-color:#eeeeee;
    overflow:hidden;
}
.proprietary_goods ul{
    width:100%;
    height:auto;
    font-size:0;
}
.proprietary_goods ul li{
    width:49.2%;
    height:5.52rem;
    float: left;
    margin-bottom:.1rem;
    background-color: #fff;
    position:relative;
}
.proprietary_goods ul li:nth-child(even){
    float: right;
}
.proprietary_goods .goods_img{
    width:100%;
    height:3.17rem;
    position:relative;
    font-size: 0;
}
.proprietary_goods .goods_img img{
    width:100%;
    height:100%;
}
.proprietary_goods .goods_img span{
    display:block;
    font-size: .22rem;
    color:#383838;
    margin-top:.15rem;
    width:2.5rem;
    height:.3rem;
    overflow:hidden;
    margin-left: .1rem;
}
.proprietary_goods .goods_img u{
    display:inline-block;
    width:2.8rem;
    height:.34rem;
    font-size: .28rem;
    overflow:hidden;
    text-decoration:none;
    margin-left: .1rem;
    color:#333;
}
.proprietary_goods .goods_img .bg{
    display:inline-block;
    margin-left: .1rem;
    width:auto;
    height:auto;
    background:url(../images/share_bg@2x.png);
    background-size:100% 100%;
    margin-top: .1rem;
    font-size: .16rem;
    color:#fff;
    text-align: center;
    line-height:.25rem;
}
.proprietary_goods .goods_img i{
    display:inline-block;    
    font-size: .22rem;
    color:#e45050;
    font-style:normal;
    margin-left: .1rem;
    margin-top:.1rem;
}
.proprietary_goods .goods_img del{
    display:inline-block;
    font-size: .2rem;
    color:#e45050;
    font-style:normal;
    margin-left:.1rem;
    border:.01rem solid #e45050;
    border-radius:.05rem;
    text-decoration: none;
}
.proprietary_goods .goods_img .shoucang{
    width:.45rem;
    height:.45rem;
    margin-left: .1rem;
    margin-top:.2rem;
}
.proprietary_goods .goods_img .sheng{
    float: right;
    width:1.38rem;
    height:.38rem;
    outline: none;
    border:0 none;
    border:.01rem solid #e45050;
    background-color:#fff;
    font-size: .26rem;
    text-align: center;
    line-height:.38rem;
    border-radius:.2rem;
    margin-right: .2rem;
    margin-top:.2rem;
    color:#e45050;
}







.contain{
        width:100%;
        height:auto;
        overflow:hidden;
    }
    .contain .contain_goods{
        width:100%;
        height:auto;
        background-color: #eeeeee;
    }
    .contain .contain_goods ul{
        width:100%;
        height:auto;
        font-size: 0;
    }
    .contain .contain_goods ul li{
        display:inline-block;
        width:32.5%;
        height:4.83rem;
        float: left;
        margin-bottom: .1rem;
    }
    .contain .contain_goods ul li:nth-child(3n-1){
        margin-left:.08rem;
        margin-right:.08rem;
    }
    .contain .contain_goods ul li img{
        width:100%;
        height:2.1rem;
    }
    .contain .contain_goods ul li .good_word{
        width:100%;
        height:2.74rem;
        background-color: #fff;
        padding-top:.15rem;
        position:relative;
        font-size: 0;
    }
    .contain .contain_goods ul li .good_word span{
        display:block;
        font-size: .22rem;
        color:#383838;
        width:2.5rem;
        height:.3rem;
        overflow:hidden;
        margin-left: .1rem;
    }
    .contain .contain_goods ul li .good_word u{
        display:inline-block;
        width:1.8rem;
        height:.34rem;
        font-size: .24rem;
        overflow:hidden;
        text-decoration:none;
        margin-left: .1rem;
        color:#333;
    }
    .contain .contain_goods ul li .good_word  .bg{
        display:inline-block;
        margin-left: .1rem;
        width:1.4rem;
        height:.25rem;
        background:url(../images/share_bg@2x.png);
        background-size:100% 100%;
        margin-top: .04rem;
        font-size: .16rem;
        color:#fff;
        text-align: center;
        line-height:.25rem;
    }
.round { margin: 0; position: absolute; z-index: 2; bottom: 0.75rem; right: 0.75rem; }
.round i { display: block; width: 100%; height: 100%; background-position: 50% 50%; background-repeat: no-repeat; background-size: 60%; opacity: 0.75;}
.pd-collect { right: 0.75rem;}
.round.pd-collect i { background-image: url(../images/favorite_r.png);}
.round.pd-collect.favorate i { background-image: url(../images/favorite_rs.png);}
    .contain .contain_goods ul li .good_word i{
        display:inline-block;    
        font-size: .22rem;
        color:#e45050;
        font-style:normal;
        margin-left: .1rem;
        margin-top:.1rem;
    }
    .contain .contain_goods ul li .good_word del{
        display:inline-block;
        font-size: .2rem;
        color:#e45050;
        font-style:normal;
        margin-left:.1rem;
        border:.01rem solid #e45050;
        border-radius:.05rem;
        text-decoration: none;
        margin-bottom: .1rem;
    }
    .contain .contain_goods ul li .good_word em{
        font-size: .22rem;
        color:#999;
        font-style:normal;
        margin-left: .1rem;
        vertical-align:top;
    }
    .contain .contain_goods ul li .good_word em img{
        width:.2rem;
        height:.2rem;
    }
    .contain .contain_goods ul li .good_word .shoucang2{
        width:.45rem;
        height:.45rem;
        margin-left: .1rem;
        margin-top:.2rem;
    }
    .contain .contain_goods ul li .good_word .sheng{
        float: right;
        width:1rem;
        height:.28rem;
        outline: none;
        border:0 none;
        border:.01rem solid #e45050;
        background-color:#fff;
        font-size: .2rem;
        text-align: center;
        line-height:.28rem;
        border-radius:.2rem;
        margin-right: .2rem;
        margin-top:.2rem;
        color:#e45050;
    }