@charset "utf-8";body,html{background-color:#f2f2f2}
.person{width:100%;height:.8rem;background-color:#2d2348;position:relative;margin-bottom:.8rem}
.person .title{height:.7rem;padding:.3rem 0 0 4%;position:relative}
.person .title a img{width:.34rem;height:.34rem}
.person .title span{font-size:.3rem;color:#fff;vertical-align:top}
.person .title span{margin-left:32%}
.person .title a img.info{width:.4rem;height:.4rem;position:absolute;top:37%;right:12%}
.person .title a img.dialogbox{position:absolute;top:40%;right:5%}
.person .number{display:inline-block;width:.3rem;height:.3rem;background-color:#fd417f;border-radius:50%;font-size:.26rem;text-align:center;color:#fff;position:absolute;top:25%;right:3%}
*{margin:0;padding:0;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-overflow-scrolling:touch;overflow-scrolling:touch}
ul{list-style:none}
a{text-decoration:none}
.find_nav{width:100%;height:.77rem;margin-top:.1rem;background-color:#fff;display:-moz-box;display:-webkit-box;display:box;border-bottom:.02rem solid #b3b3b3}
.find_nav_left{height:.77rem;position:relative;overflow:hidden;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1}
#topNav{width:100%;overflow:hidden;font-size:.4375rem;border-bottom:1px solid #f8f8f8;height:.77rem}
#topNav .swiper-slide{padding:0;width:1.2rem;text-align:center;line-height:.77rem;height:.77rem}
#topNav .swiper-slide span{transition:all .3s ease;display:block;line-height:.77rem;height:.77rem;font-size:.26rem}
#topNav .active span{transform:scale(1.1);color:#FF2D2D;line-height:.77rem;width:1.2rem;height:.77rem;font-size:.26rem}
.item{width:100%;/*height:1.45rem;*/margin-bottom:.18rem;background-color:#fff}
.item ul{font-size:0;width:100%;/*height:1rem;*/border-bottom:.02rem solid #f2f2f2}
.item ul li{width:33.33333%;height:100%;display:inline-block;text-align:center;font-size:.22rem;color:#bdbed1; vertical-align: top;}
.item ul li span{margin-top:.15rem;display:inline-block}
.item ul li i{margin-top:.1rem;display:inline-block;font-style:normal}
.item .apply{width:100%;height:.45rem;line-height:.45rem;padding-left:.2rem}
.item .apply span{font-size:.22rem;color:#2d2348}
.item button{/*width:1.05rem;*/ height:.4rem;margin-top:.025rem;outline:0;border:0 none;border:.02rem solid #2d2348;border-radius:.2rem;float:right;margin-right:.2rem;color:#2d2348;background-color:#fff; padding: 0 0.05rem;}
