
/*body{font-size:16px;font-family:"Microsoft Yahei";}*/




/*分享按钮*/
.bdshare-button-style0-24{zoom:1;}
.bdshare-button-style0-24:after{clear:both;display:block;visibility:hidden;height:0;content:".";}
.bdshare-button-style0-24 .share_d{float:left;font-size:12px;/*cursor:pointer;*/display: block; width:60px;height:auto;overflow: hidden;text-align: center;margin-right: 30px;}
.bdshare-button-style0-24 .more{margin-right: 0px;}
.bdshare-button-style0-24 a{display: block; width:60px;height:60px;overflow: hidden;    padding-bottom: 5px;}
.bdshare-button-style0-24 a:hover{color:#333;opacity:.8;filter:alpha(opacity=50);}
.bdshare-button-style0-24 .bds_weixin{background: url("../images/wx.png") no-repeat;}
.bdshare-button-style0-24 .bds_weixin_timeline{background: url("../images/wx_timeline.png") no-repeat;}
.bdshare-button-style0-24 .bds_sqq{background: url("../images/sqq.png") no-repeat;}
.bdshare-button-style0-24 .bds_qzone{background: url("../images/qzone.png") no-repeat;}
.bdshare-button-style0-24 .bds_tsina{background: url("../images/tsina.png") no-repeat;}
.bdshare-button-style0-24 .bds_douban{background: url("../images/douban.png") no-repeat;}
.bdshare-button-style0-24 .bds_kaixin001{background: url("../images/kaixin.png") no-repeat;}
.bdshare-button-style0-24 .bds_ty{background: url("../images/ty.png") no-repeat;}
.bdshare-button-style0-24 .bds_huaban{background: url("../images/huaban.png") no-repeat;}
.bdshare-button-style0-24 .bds_copy{background: url("../images/copy.png") no-repeat;}
.bdshare-button-style0-24 .bds_more{background: url("../images/more.png") no-repeat;}

/*  20180607  分享弹框样式*/
#sharecover{position:fixed;top:0;left:0;z-index:9999;width:100%;height:100%}
#code{position:absolute;left:45%;z-index:9999;display:none;width:580px;height:330px;border-radius:10px;background-color:#fff}
#code .close{width:580px;height:70px;background:url(../images/share_head.png) no-repeat;background-color:#ed5565;border-radius:10px 10px 0 0;text-align:center}
#code .close span{margin:0 auto;line-height:70px;font-weight:700;font-size:20px;color:#fff;margin-left:30px}
#code #closebt{float:right;padding:10px}
#code #closebt img{width:20px}
#code .sharetxt{text-align:left;font-size:12px;color:#666;padding:25px 35px 18px 35px}
.share_c{float:left;padding:10px 0 32px 0}
.share_c p span{color:#d92c2d}
.share_xx{clear:both;background:url(../images/dashed.png) no-repeat;height:1px;width:580px}
.sharefoot{padding-top:15px}
.sharefoot .fx_xq{display: none;}
.sharefoot .s_ljz{float:left;width:48%;margin-right:10px}
.sharefoot .sp1{font-weight:700;color:grey}
.sharefoot .sp2{color:#A6A6A6}
.sharefoot .sp2 span{color:#d92c2d}
.share_more{position:absolute;display:none;width:260px;height:80px;right:20px;border:solid 1px #A6A6A6;top:145px;background-color:#fff;border-radius:10px}
.triangle-css3{position:absolute;top:-8px;right:37px;overflow:hidden;width:12px;height:12px;border-top:1px solid #A6A6A6;border-left:1px solid #A6A6A6;background:#fff}
.transform{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.ie-transform-filter{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand')";filter:progid:DXImageTransform.Microsoft.Matrix( M11=.7071067811865475, M12=-.7071067811865477, M21=.7071067811865477, M22=.7071067811865475, SizingMethod='auto expand')}
.share_more .more_s{padding:15px 5px}
.share_more .more_s .mss{float:left;width:48px;text-align:center}
.share_more a{margin:0 auto;width:30px;height:30px}
.ewm{position:fixed;top:45%;display:block;z-index:999;width:120px;height:120px;margin-left:-123px}
.ewm p{text-align:center}
.share_explain{position:absolute;padding:15px 35px;display:none;width:510px;height:42%;right:0;top:70px;background-color:#fff}
.share_explain .explain_title{text-align:center}
.share_explain .explain_e{text-indent:2em;padding-top:5px}
.share_explain .explain_ex{color:#A6A6A6;padding-top:10px}
.explain_ex .lr{background-color:#EE6C62;margin-left:-10px;padding:0 2px 0 10px;color:#fff;border-radius:0 9px 9px 0}
.s_ljz .red_line{width:35px;display:none;height:5px;border-bottom:solid 2px red}
#parameter-brand{padding-bottom:0}
.p-parameter-list{padding:20px 0 15px}
.p-parameter ul{padding:20px 0 15px;overflow:hidden}
#parameter-brand li{width:50%}
.p-parameter-list li{width:200px}
.p-parameter .p-parameter-list li a{color:#5e69ad}
.p-parameter ul li{width:200px;padding-left:42px;float:left;margin-bottom:5px;text-align:left}
.p-parameter-list li{width:200px}
.lf{float:left}
.rt{float:right}
.icon{display:inline-block;vertical-align:sub}
.scarebuy_time_down{background:url(../images/scarebuy_tip_bg.png) no-repeat;width:570px;height:32px;    padding-bottom: 8px;}
.fnTimeCountDown span,.hui-buy,.time-end,.time-end-text{color:#fff}
.hui-buy,.time-end-text{line-height:32px}
.hui-buy{font-size:16px}
.hui-buy .icon{background:url(../images/flash.png) no-repeat;width:20px;height:20px;margin-left:10px;margin-right:6px}
.time-end{font-size:12px;padding-right: 2px;}
.scarebuy_time_down strong{color:#fff;margin:0px 1px 0px 3px;}
.fnTimeCountDown{margin:0 6px}
.scarebuy_time_down .fnTimeCountDown span{font-family:PingFang-SC-Medium;background:url(../images/time_bg.png) no-repeat;text-align:center;line-height:22px;width:22px;height:22px;font-size:14px;display:inline-block}

.share-layer {display:none;position: absolute;top:70px;left:0;z-index: 10000;background-color: rgba(0,0,0,.7);/*background-color:#fff;*/width:100%;height:260px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
.share-layer .share-tip{width: 100%;height:160px;line-height: 140px;font-size: 18px;text-align: center;color: #fff;}
.share-layer .share-btns span{width:50%;display: block;line-height: 32px;}
.share-layer .share-btns span a{font-size: 16px;width:40%;text-align: center;display: block;margin: 0 auto;text-align: center;}
.share-layer .share-btns span a{color: #fff;background-color: #d73834;border-radius: 12px;}





