<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="../js/adaptation.js"></script>    <!--此处为了尽早适配-->
    <title></title>
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/swiper.min.css" />
    <link rel="stylesheet" href="../css/cheap9.css" />
    <!--右上角弹框css引用-->
    <link rel="stylesheet" href="../css/common_alert.css">
    <script type="text/javascript" src="../js/config.php"></script>
    <script type="text/javascript" src="../js/zepto.js"></script>
    <script type="text/javascript" src="../js/template.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <!--右上角弹框js引用-->
    <script type="text/javascript" src="../js/common_alert.js"></script>
</head>
<body>
<style>
    .info{
        width: 0.625rem;
        height: 0.625rem;
        margin-top: 1%;
    }
    .info_alert{
        width: 2.5rem;
        height: 4rem;
        position: fixed;
        top: 43%;
        right: 9%;
        z-index: 1000;
    }
    .info_alert u{
        margin-top: .15rem;
        vertical-align: top;
    }
    .info_alert span{
        font-size: .34rem;
    }
    .info_alert span img{
        width: .6rem;
        height: .6rem;
    }
</style>
<div class="header-wrap-container">
    <div class="header-wrap">
        <header class="header orflow">
            <div class="header-10rem">
                <div class="icon-wrap lf">
                    <a href="javascript:history.go(-1);"><i class="icon middle"></i></a>
                </div>
                <div class="header-name lf">9.9疯抢</div>
                <div>
                    <a><img src="../images/daily_buy_img/info.png" alt="" onclick="common_index_alert(this)"  class="info"></a>
                </div>
            </div>
            <div class="info_alert">

                <img src="../images/user_img/choose_gray@3x.png" alt="">

            </div>
        </header>

        <!--小导航    start-->
        <div class="nav orflow">
            <div class="nav-wrap">
                <div class="nav-bar-outer lf">
                    <div class="nav-bar">
                       <div class="nav-scroll-wrap">
                            <ul class="lf"></ul>
                            <span class="sideline"></span>
                        </div>
                    </div>
                </div>
                <div class="nav-right-icon rt">
                    <span class="icon pop-up-icon"></span>
                </div>
            </div>
        </div>
        <!--小导航    end-->
    </div>
</div>



<!--主内容  start-->
<div class="swiper-container page">
    <div class="swiper-wrapper">

    </div>
</div>
<!--主内容  end-->



<!--  页尾固定 导航  start-->
<footer class="nav-fixed">
    <ul>
        <li class="home-icon side-icon lf">
            <i class="icon"></i>
            <div>首页</div>
        </li>
        <li class="icon-9 s-icon curr side-icon lf">
            <i class="icon"></i>
            <div>9.9元封顶</div>
        </li>
        <li class="more-icon lf">
            <i class="icon"></i>
        </li>
        <li class="icon-20 s-icon side-icon lf">
            <i class="icon"></i>
            <div>20元封顶</div>
        </li>
        <li class="icon-50 s-icon side-icon lf">
            <i class="icon"></i>
            <div>50元好货</div>
        </li>
    </ul>
</footer>
<!--  页尾固定 导航  end-->

<!--右侧 的弹出框   start-->
<div class="pop-up">
    <div class="hot-search orflow">
        热门搜索：
        <div class="search">
            <div class="keyW">
                <span>服饰内衣</span>
                <span>电子数码</span>
                <span>生鲜水果</span>
            </div>
            <input type="text" />
        </div>
    </div>

    <div class="pop-up-content">
        <ul class="search-results-list">
            <li class="result-item">
                <a href="#">
                    <span>女士半却/连衣裙</span>
                </a>
            </li>
            <li class="result-item">
                <a href="#">
                    <span>女士半却/连衣裙</span>
                </a>
            </li>
            <li class="result-item">
                <a href="#">
                    <span>女士半却/连衣裙</span>
                </a>
            </li>
            <li class="result-item">
                <a href="#">
                    <span>女士半却/连衣裙</span>
                </a>
            </li>
            <li class="result-item">
                <a href="#">
                    <span>女士半却/连衣裙</span>
                </a>
            </li>
            <li class="result-item">
                <a href="#">
                    <span>女士半却/连衣裙</span>
                </a>
            </li>
            <li class="result-item">
                <a href="#">
                    <span>女士半却/连衣裙</span>
                </a>
            </li>
            <li class="result-item">
                <a href="#">
                    <span>女士半却/连衣裙</span>
                </a>
            </li>
            <li class="result-item">
                <a href="#">
                    <span>女士半却/连衣裙</span>
                </a>
            </li>
            <li class="result-item">
                <a href="#">
                    <span>女士半却/连衣裙</span>
                </a>
            </li>
            <li class="result-item">
                <a href="#">
                    <span>女士半却/连衣裙</span>
                </a>
            </li>
            <li class="result-item">
                <a href="#">
                    <span>女士半却/连衣裙</span>
                </a>
            </li>
            <li class="result-item">
                <a href="#">
                    <span>女士半却/连衣裙</span>
                </a>
            </li>
            <li class="result-item">
                <a href="#">
                    <span>女士半却/连衣裙</span>
                </a>
            </li>
            <li class="result-item">
                <a href="#">
                    <span>女士半却/连衣裙</span>
                </a>
            </li>
            <li class="result-item">
                <a href="#">
                    <span>女士半却/连衣裙</span>
                </a>
            </li>

        </ul>
    </div>
</div>
<!--右侧 的弹出框   end-->

<!--更多活动  弹框    start-->
<div class="more-activties-wrap">
    <ul>
        <a href="daily_buy.html"><li class="more-activity activity-icon1 lf"></li></a>
        <a href="discount.html"><li class="more-activity activity-icon2 lf"></li></a>
        <a href="goodgoods.html"><li class="more-activity activity-icon3 lf"></li></a>
        <a href="scarebuy.html"><li class="more-activity activity-icon4 lf"></li></a>
        <a href="sonanddaughter.html"><li class="more-activity activity-icon5 lf"></li></a>
        <a href="findgoodshop.html"><li class="more-activity activity-icon6 lf"></li></a>
        <!--<li class="more-activity activity-icon7 lf"></li>-->
        <!--<li class="more-activity activity-icon8 lf"></li>-->
        <a href=""><li class="more-activity activity-icon9 lf"></li></a>
    </ul>
</div>
<!--更多活动  弹框  end-->

<!--  ui-mask  start-->
<div class="ui-mask"></div>
<!--  ui-mask  end-->
<div class="no-data">没有更多了</div>
<div class="loading">正在加载中...</div>


<script type="text/html" id="nav">
    <li data-id="0"><a href="javascript:;">全部</a></li>
    <% for(var i in data){%>
        <li data-id="<%=data[i]['cat_id']%>"><a href="javascript:;"><span><%=data[i]['nav_name']%></span></a></li>
    <%}%>
</script>

<script type="text/html" id="main">

    <div class="swiper-container banner">
        <div class="swiper-wrapper">
            <% for(var i in adv_list.items){%>
            <div class="swiper-slide">
                <a href="<%=adv_list.items[i].wap_url%>"><img src="<%=adv_list.items[i].pic_url%>" alt="" /></a>
            </div>
            <%}%>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="goods-wrap">
        <ul class="goods-ul orflow">
            <% var data = data_goods.items%>
            <% for(var i in data){%>
            <li class="goods lf">
                <div class="img-center">
                    <a href="product_detail.html?goods_id=<%=data[i].goods_id%>"><img class="middle" src="<%=data[i].common_image%>" alt="" /></a>
                </div>
                <div class="goods-detail">
                    <div class="goods-price orflow">
                        <div class="price lf">
                            ￥<span><%=data[i].common_price%></span>
                        </div>
                        <div class="share-price rt">
                            <div class="lf">分享后：</div>
                            <div class="rt">
                                ￥<span><%=data[i].common_shared_price%></span>
                            </div>
                        </div>
                    </div>
                    <div class="goods-text txt"><a href="product_detail.html?goods_id=<%=data[i].goods_id%>"><%=data[i].common_name%></a></div>
                    <div class="goods-share orflow">
                        <div class="share lf orflow">
                            <span class="lf">分享立省</span>
                            <div class="rt">
                                <span>￥<%=data[i].common_share_price%></span>
                            </div>
                        </div>
                        <div class="share lf orflow">
                            <span class="lf">立赚</span>
                            <div class="rt"><span>￥<%=data[i].common_promotion_price%></span></div>
                        </div>
                    </div>
                    <div class="goods-sale orflow">
                        <% if(data[i].common_promotion_type != '0'){ %>
                        <span class="lf">促销:</span>
                        <div class="icons lf">
                            <% if(data[i].common_promotion_type == '4'){ %>
                            <i class="icon lf new-icon"></i>
                            <% } %>
                            <!--<i class="icon lf sheath-icon"></i>-->
                            <!--<i class="icon lf tiket-icon"></i>-->
                            <% if(data[i].common_promotion_type == '1'){ %>
                            <i class="icon lf solid-icon"></i>
                            <% } %>
                            <% if(data[i].common_promotion_type == '2'){ %>
                            <i class="icon lf sale-icon"></i>
                            <% } %>
                            <i class="icon lf give_full_cut-icon"></i>
                        </div>
                        <% } %>
                    </div>
                    <div class="goods-like orflow">
                        <div class="like <% if(data[i].is_favorite){ %>curr<% }else{ %>lf<% } %>">
                            <i class="icon" onclick="favorite(this,<%=data[i].is_favorite%>,<%=data[i].goods_id %>)"></i>
                        </div>
                        <a href="product_detail.html?goods_id=<%=data[i].goods_id%>">
                        <div class="share-border rt">
                            分享立省
                        </div>
                        </a>
                    </div>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</script>

<script type="text/html" id="more_goods">
    <% var data = data_goods.items%>
    <% for(var i in data){%>
    <li class="goods lf">
        <div class="img-center">
            <img class="middle" src="<%=data[i].common_image%>" alt="" />
        </div>
        <div class="goods-detail">
            <div class="goods-price orflow">
                <div class="price lf">
                    ￥<span><%=data[i].common_price%></span>
                </div>
                <div class="share-price rt">
                    <div class="lf">分享后：</div>
                    <div class="rt">
                        ￥<span><%=data[i].common_shared_price%></span>
                    </div>
                </div>
            </div>
            <div class="goods-text txt"><%=data[i].common_name%></div>
            <div class="goods-share orflow">
                <div class="share lf orflow">
                    <span class="lf">分享立省</span>
                    <div class="rt">
                        ￥<span><%=data[i].common_share_price%></span>
                    </div>
                </div>
                <div class="share lf orflow">
                    <span class="lf">分享立赚</span>
                    <div class="rt">￥<span><%=data[i].common_promotion_price%></span></div>
                </div>
            </div>
            <div class="goods-sale orflow">
                <% if(data[i].common_promotion_type != '0'){ %>
                <span class="lf">促销:</span>
                <div class="icons lf">
                    <% if(data[i].common_promotion_type == '4'){ %>
                    <i class="icon lf new-icon"></i>
                    <% } %>
                    <!--<i class="icon lf sheath-icon"></i>-->
                    <!--<i class="icon lf tiket-icon"></i>-->
                    <% if(data[i].common_promotion_type == '1'){ %>
                    <i class="icon lf solid-icon"></i>
                    <% } %>
                    <% if(data[i].common_promotion_type == '2'){ %>
                    <i class="icon lf sale-icon"></i>
                    <% } %>
                    <i class="icon lf give_full_cut-icon"></i>
                </div>
                <% } %>
            </div>
            <div class="goods-like orflow">
                <div class="like <% if(data[i].is_favorite){ %>curr<% }else{ %>lf<% } %>">
                    <i class="icon" onclick="favorite(this,<%=data[i].is_favorite%>,<%=data[i].goods_id %>);"></i>
                </div>
                <a href="product_detail.html?goods_id=<%=data[i].goods_id%>">
                    <div class="share-border rt">
                        分享立省
                    </div>
                </a>
            </div>
        </div>
    </li>
    <% } %>
</script>

<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script type="text/javascript" src="../js/cheap9.js"></script>
</body>
</html>


