<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title>商城触屏版</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="apple-touch-icon" href="images/touch-icon-iphone.png"/>
    <link rel="stylesheet" type="text/css" href="../css/nctouch_integral.css"/>
</head>
<body>
<header id="" class="transparent">
    <div class="header-wrap">
        
        <div class="header-l">
            <a href="javascript:history.go(-1)">
                <i class="back back2"></i>
            </a>
        </div>
        
        
    </div>
    
</header>
<div class="integral-wap fixed-Width">
    <div class="integral-ban"><img id="promotiom_img"></div>
    <ul class="integral-types">
        <li class="icon-voucher">
            <a href="javascript:;">
                <i class="iconfont "></i>
                <p>店铺代金券</p>
            </a>
        </li>
        <li class="login-btn">
            <a href="javascript:;">
                <i class="integral-login">立即登录</i>
                <p>获知会员信息详情</p>
            </a>
        </li>
        <li class="icon-present">
            <a href="javascript:;">
                <i class="iconfont"></i>
                <p>金蛋兑换礼品</p>
            </a>
        </li>
    </ul>
    <div class="integral-list">
        <div class="integral-list-head">
            <h3>
                <i class="iconfont ic-present"></i>
                <span>热门礼品兑换</span>
                <a href="integral_product_list.html" class="more">更多<i class="iconfont icon-iconjiantouyou"></i></a>
            </h3>
        </div>
        <div class="item-goods"></div>
        <div class="integral-list-head">
            <h3>
                <i class="iconfont ic-integral"></i>
                <span>热门金蛋兑换</span>
                <a href="voucher_list.html" class="more">更多<i class="iconfont icon-iconjiantouyou"></i></a>
            </h3>
        </div>
        <div class="integral-area"></div>
    </div>
    <footer id="footer" class="fixed-Width"></footer>
</div>

<script type="text/html" id="goods">
    <% if (points_goods) { %>
    <% var items = points_goods %>
    <ul class="integral-present-goods goods-list">
        <% for (var i in items) { %>
        <% if (i>=4) break; %>
        <li>
            <a href="integral_product_detail.html?id=<%= items[i].id %>">
                <div class="goods-pic">
                    <img src="<%= items[i].points_goods_image %>">
                </div>
                <dl class="goods-info">
                    <dt class="goods-name"><%= items[i].points_goods_name %></dt>
                    <dd>参考价格：￥<%= items[i].points_goods_price %></dd>
                    <dd>所需金蛋：<em><%= items[i].points_goods_points %></em></dd>
                </dl>
                <% if (items[i].points_goods_limitgrade != 1) { %><i class="iconfont"><img src="../images/V<%= items[i].points_goods_limitgrade - 1 %>.png"></i> <% } %>
            </a>
        </li>
        <% } %>
    </ul>
    <% } %>
</script>

<script type="text/html" id="integral">
    <% if (voucher) { %>
    <% var items = voucher %>
    <ul>
        <% for (var i in items) { %>
        <% if (i>2) break; %>
        <li class="clearfix hot-integral1">
            <div class="left">
                <h3><%= items[i].shop_name %></h3>
                <em class="price">￥<%= items[i].voucher_t_price %></em>
                <em class="meet">(满<%= items[i].voucher_t_limit %>可使用)</em>
                <i>有效期至：<%= items[i].voucher_t_end_date_day %></i>
            </div>
            <div class="right">
                <em>需<%= items[i].voucher_t_points %>金蛋</em>
                <i><%= items[i].voucher_t_giveout %>人已兑换</i>
                <a href="javascript:void(0)" nctype="exchange_integrate" data-vid="<%=items[i].id %>">立即兑换</a>
            </div>
        </li>
        <% } %>
    </ul>
    <% } %>
</script>

<script type="text/html" id="user">
    <% if (user_info && user_resource) { %>
    <div class="logged-in">
        <p>
            <img src="<%= user_info.user_logo %>">
        </p>
        <ul>
            <li><span>我的金蛋</span>
                <div><em><%= user_resource.user_points %></em>分</div>
            </li>
            <li><span>可用代金券</span>
                <div><em><%= ava_voucher_num %></em>张</div>
            </li>
            <li><span>已兑换礼品</span>
                <div><em><%= points_order_num %></em>个</div>
            </li>
        </ul>
    </div>
    <% } %>
</script>

<script type="text/javascript" src="../js/config.php"></script>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/simple-plugin.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/swipe.js"></script>
<script type="text/javascript" src="../js/integral.js"></script>
<script type="text/javascript" src="../js/tmpl/footer.js"></script>
</body>
</html>