<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>商城信息</title>
  <link rel="stylesheet" href="../css/refer.css">
  <link rel="stylesheet" href="../css/andone/base.css">
  <script src="../js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src='../js/refer.js'></script>
  <script type="text/javascript" src="../js/tmpl/swipe.js"></script>
  <script type="text/javascript" src="../js/zepto.js"></script>
  <script type="text/javascript" src='../js/tmpl/swiper.min.js'></script>
  <script src="../js/config.js"></script>
</head>
<body style="background-color:#f2f2f2;margin-top:.8rem;">
  <!--头部部分-->
  <header class="person">
    <div class="title">
      <a href="javascript:history.go(-1)"><img src="../images/back.png" alt=""></a>
      <span>商城咨询</span>
      <a><img src="../images/info.png" alt=""  class="info"></a>
    </div>
  </header>
  <!--头部部分-->

  <ul class="refer">
    <li class="cur" data-type="" onclick="rule(this)">全部咨询</li>
    <li data-type="1" onclick="rule(this)">未回复咨询</li>
    <li data-type="2" onclick="rule(this)">已回复咨询</li>
  </ul>
  <div class="contain1"></div>
  <script type="text/html" id="tz_res">
    <% if(items) { %>
    <% for(var i in items) { %>
    <div class='contain'>
      <div class='contain_top'>
        <div class='img'><img src="../images/color.png" alt=""> 商品标题：</div>
        <a href="./product_detail.html?goods_id=<%=items[i].goods_id%>"><div class='contain_contain'><%=items[i].goods_name %></div></a>
      </div>


      <div class='contain_middle'>
        <div class='contain_contain'>咨询内容：<%=items[i].consult_question %></div>
        <% if(items[i].consult_state==1){ %>
        <div class='contain_refer'>回复：暂未回复</div>
        <% }else{ %>
        <div class='contain_refer'>回复：<%=items[i].consult_answer %></div>
        <% } %>
      </div>


      <div class='contain_bottom'>
        <span>咨询时间： <%=items[i].question_time %></span>
        <% if(items[i].consult_state==2){ %>
        <span>回复时间： <%=items[i].answer_time %></span>
        <% } %>
      </div>
    </div>
    <% } %>
    <% } %>
  </script>

  <script type="text/javascript" src="../js/config.php"></script>
  <script type="text/javascript" src="../js/zepto.js"></script>
  <script type="text/javascript" src="../js/common.js"></script>
  <script type="text/javascript"  src="../js/template.js"></script>
  <script type="text/javascript"  src="../js/refer_row.js"></script>
</body>
</html>