<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>进店领券</title>
	<link rel="stylesheet" href="../css/activity/quan.css">
	<link rel="stylesheet" href="../css/activity/base.css">
	<script src="../js/activity/jquery-1.8.3.min.js"></script>
</head>
<body style="background-color:#f7f7f7;">
	<!--头部部分-->
	<header class="person">
		<div class="title">
			<a href="javascript:history.go(-1)"><img src="../images/activity/icon_back.png" alt=""></a>
			<span>进店领券</span>
		</div>
	</header>
	<!--头部部分-->
<div class="chit">
		<!--<div  class='chit_item'>-->
			<!--<div class="chit_left">-->
				<!--<img src="../images/goldegg/goods_1.png" alt="">-->
			<!--</div>-->
			<!--<div class="chit_right_top">-->
				<!--<span>1234官方旗舰店</span>-->
			<!--</div>-->
			<!--<div class="chit_right_bottom">-->
				<!--<span>有效期至:</span>-->
				<!--<u>2017.04.05</u><br>-->
				<!--<i>￥10</i>-->
				<!--<b>购满100元使用</b>-->
			<!--</div>-->
			<!--<div class="circle">-->
				<!--<div class="pie_left"><div class="left"></div></div>-->
				<!--<div class="pie_right"><div class="right"></div></div>-->
				<!--<div class="mask"><span>20</span>%</div>-->
			<!--</div>-->
			<!--<button class="btn btn-liji">立即领取</button>-->
		<!--</div>-->
		<!--<div  class='chit_item'>-->
			<!--<div class="chit_left">-->
				<!--<img src="../images/goldegg/goods_1.png" alt="">-->
			<!--</div>-->
			<!--<div class="chit_right_top">-->
				<!--<span>1234官方旗舰店</span>-->
			<!--</div>-->
			<!--<div class="chit_right_bottom">-->
				<!--<span>有效期至:</span>-->
				<!--<u>2017.04.05</u><br>-->
				<!--<i>￥10</i>-->
				<!--<b>购满100元使用</b>-->
			<!--</div>-->
			<!--<span class="xuyaojindan">需要金蛋</span>-->
			<!--<span class="xuyaojindan-number"> - 5 - </span>-->
			<!--<button class="btn btn-liji">立即兑换</button>-->
		<!--</div>-->
		<!--<div  class='chit_item'>-->
			<!--<div class="chit_left">-->
				<!--<img src="../images/goldegg/goods_1.png" alt="">-->
			<!--</div>-->
			<!--<div class="chit_right_top">-->
				<!--<span>1234官方旗舰店</span>-->
			<!--</div>-->
			<!--<div class="chit_right_bottom">-->
				<!--<span>有效期至:</span>-->
				<!--<u>2017.04.05</u><br>-->
				<!--<i style="color:#b3b3b3;">￥10</i>-->
				<!--<b style="color:#b3b3b3;">购满100元使用</b>-->
			<!--</div>-->
			<!--<div class="qiangguang">-->
				<!--<img src="../images/goldegg/bar_02@3x.png" alt="">-->
			<!--</div>-->
			<!--<button class="btn btn-jindian">进店看看</button>-->
		<!--</div>-->
		<!--<div  class='chit_item'>-->
			<!--<div class="chit_left">-->
				<!--<img src="../images/goldegg/goods_1.png" alt="">-->
			<!--</div>-->
			<!--<div class="chit_left">-->
				<!--<img src="../images/goldegg/goods_1.png" alt="">-->
			<!--</div>-->
			<!--<div class="chit_left">-->
				<!--<img src="../images/goldegg/goods_1.png" alt="">-->
			<!--</div>-->
			<!--<p style='font-size: .2rem;color: #fd114f;margin-left: 3%;'>购满199元减20元 <span style='color: #666'>百加得旗舰店</span></p>-->
			<!--<img src="../images/goldegg/geted_site@3x.png" alt="" class="position-ling">-->
			<!--<button class="btn btn-shiyong">去使用</button>-->
		<!--</div>-->
		<!--<div  class='chit_item'>-->
			<!--<div class="chit_left">-->
				<!--<img src="../images/goldegg/goods_1.png" alt="">-->
			<!--</div>-->
			<!--<div class="chit_right_top">-->
				<!--<span>1234官方旗舰店</span>-->
			<!--</div>-->
			<!--<div class="chit_right_bottom">-->
				<!--<span>有效期至:</span>-->
				<!--<u>2017.04.05</u><br>-->
				<!--<i style="color:#b3b3b3;">￥10</i>-->
				<!--<b style="color:#b3b3b3;">购满100元使用</b>-->
			<!--</div>-->
			<!--<span class="xuyaojindan" style="color:#999;">需要金蛋</span>-->
			<!--<span class="xuyaojindan-number" style="color:#999;"> - 5 - </span>-->
			<!--<button class="btn btn-qiangguang">暂时抢光</button>-->
		<!--</div>-->
		<!--<div  class='chit_item'>-->
			<!--<div class="chit_left">-->
				<!--<img src="../images/goldegg/goods_1.png" alt="">-->
			<!--</div>-->
			<!--<div class="chit_right_top">-->
				<!--<span>1234官方旗舰店</span>-->
			<!--</div>-->
			<!--<div class="chit_right_bottom">-->
				<!--<span>有效期至:</span>-->
				<!--<u>2017.04.05</u><br>-->
				<!--<i>￥10</i>-->
				<!--<b>购满100元使用</b>-->
			<!--</div>-->
			<!--<div class="circle">-->
				<!--<div class="pie_left"><div class="left"></div></div>-->
				<!--<div class="pie_right"><div class="right"></div></div>-->
				<!--<div class="mask"><span>22.22</span>%</div>-->
			<!--</div>-->
			<!--<button class="btn btn-liji">立即领取</button>-->
		<!--</div>-->
	</div>
	

	<script type="text/html" id="chit">
		<% if(voucher.items){ %>
		<% for(var i=0;i<(voucher.items.length);i++){var items = voucher.items[i] %>
		<% if(items.voucher_t_access_method == 3 && items.voucher_t_unused != 1){ %>
		<div  class='chit_item'>
			<div class="chit_left">
				<img src="<%=items.voucher_t_customimg %>" alt="">
			</div>
			<div class="chit_right_top">
				<span><%=items.shop_name %></span>
			</div>
			<div class="chit_right_bottom">
				<span>有效期至:</span>
				<u><%=items.voucher_t_end_date %></u><br>
				<i>￥<%=items.voucher_t_price %></i>
				<b>购满<%=items.voucher_t_limit %>元使用</b>
			</div>
			<div class="circle">
				<div class="pie_left"><div class="left"></div></div>
				<div class="pie_right"><div class="right"></div></div>
				<div class="mask"><span><%=items.voucher_t_percent %></span>%</div>
			</div>
			<a href="javascript:void(0);" nctype='immed' data-id="<%=items.id %>" onclick="convert(this)"><button class="btn btn-liji">立即领取</button></a>
		</div>
		<% }else if(items.voucher_t_unused == 1){ %>
		<div  class='chit_item'>
			<% if(items.goodslist){ %>
			<% for(var j in items.goodslist){ var item = items.goodslist[j] %>
			<div class="chit_left">
				<a href="product_detail.html?goods_id=<%=item.goods_id %>"><img src="<%=item.goods_image %>" alt=""></a>
			</div>
			<% } %>
			<% } %>
			<p style='font-size: .2rem;color: #fd114f;margin-left: 3%;'>购满<%=items.voucher_t_limit %>元减<%=items.voucher_t_price %>元 <span style='color: #666'><%=items.shop_name %></span></p>
			<img src="../images/goldegg/geted_site@3x.png" alt="" class="position-ling">
			<a href="store.html?shop_id=<%=items.shop_id %>"><button class="btn btn-shiyong">去使用</button></a>
		</div>
		<% }else if(items.voucher_t_access_method == 1 && items.voucher_t_unused != 1){ %>
		<div  class='chit_item'>
			<div class="chit_left">
				<img src="<%=items.voucher_t_customimg %>" alt="">
			</div>
			<div class="chit_right_top">
				<span><%=items.shop_name %></span>
			</div>
			<div class="chit_right_bottom">
				<span>有效期至:</span>
				<u><%=items.voucher_t_end_date %></u><br>
				<i>￥<%=items.voucher_t_price %></i>
				<b>购满<%=items.voucher_t_limit %>元使用</b>
			</div>
			<span class="xuyaojindan">需要金蛋</span>
			<span class="xuyaojindan-number"> - <%=items.voucher_t_points %> - </span>
			<a href="javascript:void(0);" nctype='immed' data-id="<%=items.id %>" onclick="convert(this)"><button class="btn btn-liji">立即兑换</button></a>
		</div>
		<% }else if(items.voucher_t_total == items.voucher_t_giveout && items.voucher_t_access_method == 3 && items.voucher_t_unused != 1){ %>
		<div  class='chit_item'>
			<div class="chit_left">
				<img src="<%=items.voucher_t_customimg %>" alt="">
			</div>
			<div class="chit_right_top">
				<span><%=items.shop_name %></span>
			</div>
			<div class="chit_right_bottom">
				<span>有效期至:</span>
				<u><%=items.voucher_t_end_date %></u><br>
				<i style="color:#b3b3b3;">￥<%=items.voucher_t_price %></i>
				<b style="color:#b3b3b3;">购满<%=items.voucher_t_limit %>元使用</b>
			</div>
			<div class="qiangguang">
				<img src="../images/goldegg/bar_02@3x.png" alt="">
			</div>
			<a href="store.html?shop_id=<%=items.shop_id %>"><button class="btn btn-jindian">进店看看</button></a>
		</div>
		<% }else if(items.voucher_t_total == items.voucher_t_giveout && items.voucher_t_access_method == 1 && items.voucher_t_unused != 1){ %>
		<div  class='chit_item'>
			<div class="chit_left">
				<img src="<%=items.voucher_t_customimg %>" alt="">
			</div>
			<div class="chit_right_top">
				<span><%=items.shop_name %></span>
			</div>
			<div class="chit_right_bottom">
				<span>有效期至:</span>
				<u><%=items.voucher_t_end_date %></u><br>
				<i style="color:#b3b3b3;">￥<%=items.voucher_t_price %></i>
				<b style="color:#b3b3b3;">购满<%=items.voucher_t_limit %>元使用</b>
			</div>
			<span class="xuyaojindan" style="color:#999;">需要金蛋</span>
			<span class="xuyaojindan-number" style="color:#999;"> - <%=items.voucher_t_points %> - </span>
			<button class="btn btn-qiangguang">已抢光</button>
		</div>
		<% }}} %>
	</script>
	<script>
		$(function() {
			$('.circle').each(function(index, el) {
				var num = $(this).find('span').text() * 3.6;
				if (num<=180) {
					$(this).find('.right').css('transform', "rotate(" + num + "deg)");
				} else {
					$(this).find('.right').css('transform', "rotate(180deg)");
					$(this).find('.left').css('transform', "rotate(" + (num - 180) + "deg)");
				};
			});

		});
	</script>

<script type="text/javascript" src="../js/zepto.js"></script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
 <script type="text/javascript" src="../js/shopquan.js"></script>
</body>

</html>