<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>商城信息</title>
  <link rel="stylesheet" href="../css/shopinfo.css">
  <link rel="stylesheet" href="../css/andone/base.css">
  <script src="../js/tmpl/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src='../js/shopinfo.js'></script>
  <script type="text/javascript" src="../js/tmpl/swipe.js"></script>
  <script type="text/javascript" src="../js/zepto.js"></script>
  <script type="text/javascript" src='../js/tmpl/swiper.min.js'></script>
  <script src="../js/config.js"></script>
</head>
<body style="background-color:#f2f2f2;margin-top:.8rem;">
  <!--头部部分-->
  <header class="person">
    <div class="title">
      <a href="javascript:history.go(-1)"><img src="../images/back.png" alt=""></a>
      <span>商城信息</span>
      <a href="./member/set.html"><img src="../images/setting@3x.png" alt=""  class="info"></a>
    </div>
  </header>
  <!--头部部分-->
  <div class="all_wrap">
    <ul class="all">
      <li class="cur" data-type="" onclick="rule(this)">全部类型</li>
      <li data-type="1" onclick="rule(this)">订单信息</li>
      <li data-type="3" onclick="rule(this)">账户信息</li>
      <li data-type="4" onclick="rule(this)">其他</li>
    </ul>
    <span class="quanxuan"><input type="checkbox" value="" id="check1" name="chk_all" onclick="swapCheck()"><label for="check1">全选</label></span>
      <span class="shanchu">删除</span>
  </div>

  <!--弹窗-->
  <div class="tanchuang">
      <div class="tanchuang_top">是否删除该条内容？</div>
      <div class="tanchuang_bottom">
        <button class="ensure">确定</button>
        <button href="" class="delete">取消</button>
      </div>
  </div>
  <div class="bg_tanchuang"></div>
  <!--弹窗-->

  <div class="contain1">
  </div>
  <script type="text/html" id="tz_res">
    <% if(items) { %>
    <% for(var i in items) { %>
    <% if(items[i].message_islook==1){ %>
    <div class="contain">
      <div class="contain_top" message_id="<%=items[i].message_id%>">
        <input type="checkbox" name="message" value="<%=items[i].message_id %>"><label><%=items[i].message_create_time %></label>
      </div>
      <u class="C99"><%=items[i].message_title %></u>
      <b class="C99"><%=items[i].message_content %></b>
    </div>
    <% }else if(items[i].message_islook==0){ %>
    <div class="contain">
      <div class="contain_top" message_id="<%=items[i].message_id %>">
        <input type="checkbox" name="message" value="<%=items[i].message_id %>"><label><%=items[i].message_create_time %></label>
      </div>
      <a href="javascript:;" onclick="look('<%=items[i].message_id %>')">
        <u><%=items[i].message_title %></u>
        <b><%=items[i].message_content %></b></a>
    </div>
    <% } %>
    <% } %>
    <% } %>
  </script>

  <script type="text/javascript" src="../js/config.php"></script>
  <script type="text/javascript" src="../js/zepto.js"></script>
  <script type="text/javascript" src="../js/common.js"></script>
  <script type="text/javascript"  src="../js/template.js"></script>
  <script type="text/javascript"  src="../js/shopinfo_row.js"></script>
</body>

</html>