@charset "utf-8";
/***************头部部分开始**************************************/
.person{
	width:100%;
	height:.8rem;
	background-color: #1a1a1a;
}
.person .title{
	height:.7rem;
	padding: .3rem 0 0 4%;
    position:relative;
}
.person .title a img{
	width:.34rem;
	height:.34rem;
}
.person .title span{
	font-size: .3rem;
	color:#fff;
	vertical-align: top;
}
.person .title span{
	margin-left:32%;
}
.person .title a img.info{
	margin-left:30%;
}
.person .title a img.transpond{
    position:absolute;
    left:80%;
}
.info_alert{
    width:2rem;
    height:3.5rem;
    background-color:#333333;
    position:fixed;
    top:12%;
    right:4%;
    border-radius:.2rem;
    z-index: 103;
    font-size: 0;
    display:none;
}
.info_alert span{
    display:inline-block;
    width:100%;
    font-size: .22rem;
    height:20%;
    line-height:.7rem;
    color:#fff;
}
.info_alert span:nth-last-child(1){
    border:0 none;
}
.info_alert span img{
    width:.4rem;
    height:.4rem;
    position:static;
    margin-top:.15rem;
    margin-left: .15rem;
}
.info_alert img{
    width:.15rem;
    height:.08rem;
    position:absolute;
    right:10%;
    top:-2.5%;
}
.info_alert u{
    text-decoration:none;
    display:inline-block;
    margin-left: .2rem;
}
/***************头部部分结束**************************************/
.main{
    width:100%;
    height:auto;
    background-color:#fff;
}
.main .main_img{
    width:100%;
    height:5.35rem;
}
.main .main_img img{
    width:100%;
    height:100%;
}
.main .main_txt{
    display:block;
    width:96%;
    height:.6rem;
    margin:0 auto;
    overflow: hidden;
    margin-top: .15rem;
     font-size: .24rem;
}
.main .rmb{
    display:inline-block;
    font-size: .24rem;
    margin-left: .1rem;
    margin-top: .15rem;
    color:#e34c4c;
}
.main .phone_on{
    width:.8rem;
    height:.2rem;
    margin-top: .2rem;
    margin-left: .1rem;
}
.main .price{
    display:inline-block;
    font-size: .24rem;
    color:#999;
    margin-left: .15rem;
    margin-top: .1rem;
}
.main del{
    text-decoration: none;
    color:#333;
    font-size: .24rem;
    margin-left:50%;
}
.main ul{
    font-size: 0;
    width:100%;
    height:auto;
    margin-top: .1rem;
    background-color:#fff;
}
.main ul li{
    width:100%;
    height:.7rem;
    border-top: .01rem solid #eeeeee;
    line-height: .7rem;
    font-size: .24rem;
    font-size: #999;
    position:relative;
}
.main ul li em{
    color: #999;
    font-style:normal;
    margin-left: .2rem;
}
.main ul li .more{
    width:.15rem;
    height:.3rem;
    position:absolute;
    top:30%;
    right:5%;
}
.main ul li:nth-child(1) .bg{
    display:inline-block;
    margin-left: .2rem;
    width:1.18rem;
    height:.25rem;
    background:url(../img/share_bg@2x.png);
    background-size:100% 100%;
    margin-top: .25rem;
    font-size: .16rem;
    color:#fff;
    text-align: center;
    line-height:.25rem;
}
.main ul li:nth-child(1) .time{
    display:inline-block;
    font-size: .18rem;
    margin-left: .8rem;
    color:#333;
}
.main ul li:nth-child(1) .time u{
    display:inline-block;
    width:.3rem;
    height:.28rem;
    background-color: #333;
    font-size: .2rem;
    color:#fff;
    text-decoration:none;
    line-height:.28rem;
    text-align: center;
    border-radius:.05rem;
}
.main ul li:nth-child(1) .time i{
    font-size: .18rem;
    font-style:normal;
}
.main ul li:nth-child(2) .youhui{
    width:auto;
    height:.25rem;
    font-size: .2rem;
    color:#e34c4c;
    border:.01rem solid #e34c4c;
    border-radius:20%;
}
.shop_title{
    background-color:#fff;
    width:100%;
    height:.7rem;
    border-bottom: .01rem solid #eee;
    margin-top:.1rem;
    line-height:.7rem;
    position:relative;
}
.shop_title img{
    width:.38rem;
    height:.38rem;
    margin-left: .2rem;
    margin-top:2.5%;
}
.shop_title span{
    font-size: .22rem;
    color:#343434;
}
.shop_title a{
    color:#999;
}
.shop_title a img{
    width:.15rem;
    height:.3rem;
    position:absolute;
    top:10%;
    right:5%;
}
.shop_info{
    width:100%;
    height:1.34rem;
    background-color:#fff;
    margin-bottom: .1rem;
    font-size: 0;
}
.shop_info img{
    width:.45rem;
    height:.41rem;
    margin-top:.3rem;
    margin-left:.2rem;
}
.shop_info .shop_goods{
    display:inline-block;
    text-align: center;
    margin-left: .6rem;
}
.shop_info .shop_goods span{
    display:inline-block;
    font-size: .28rem;
    color:#333;
    margin-top:.2rem;
}
.shop_info .shop_goods u{
    display:inline-block;
    font-size: .2rem;
    color:#999;
    text-decoration: none;
    margin-top:.15rem;
}
.shop_info .shop_count{
    display:inline-block;
    text-align: center;
}
.shop_info .shop_count i{
    display:inline-block;
    font-style:normal;
    color:#999;
    font-size: .22rem;
    margin-left: .8rem;
    height:.4rem;
}
.shop_info .shop_count span{
    font-size: .22rem;
    font-size: #333;
}

.goods{
    width:100%;
    height:5.2rem;
    background-color:#fff;
}
.goods .goods_title{
    width:100%;
    height:.5rem;
    line-height:.5rem;
    border-bottom:.01rem solid #eee;
    font-size: 0;
}
.goods .goods_title span{
    display:inline-block;
    width:50%;
    height:100%;
    text-align: center;
    font-size: .24rem;
    color:#999;
}
.goods .goods_title span.cur{
    color:#e45050;
}
.goods  ul{
    font-size: 0;
}
.goods  ul li{
    width:25%;
    height:2.2rem;
    display:inline-block;
    text-align: center;
    margin-top:.1rem;
    position:relative;
}
.goods  ul li img{
    width:1.21rem;
    height:1.21rem;
}
.goods  ul li span{
    display:inline-block;
    width:1.3rem;
    height:.45rem;
    background-color:#fff;
    font-size: .16rem;
    overflow:hidden;
    color:#999;
}
.goods ul li u{
    font-size: .18rem;
    text-decoration:none;
    color:#333;
    position:absolute;
    top:80%;
    left:8%;
}
.see{
    display:inline-block;
    width:100%;
    height:.68rem;
    color:#333;
    font-size: .22rem;
    text-align: center;
    line-height:.68rem;
}
.footer{
    width:100%;
    height:.75rem;
    font-size: 0;
    background-color:#fff;
    position:fixed;
    bottom: 0;
    border-top: .01rem solid #ddd;
}
.footer li{
    border-right:.01rem solid #eee;
    display:inline-block;
    text-align: center;
    line-height:.74rem;
}
.footer li:nth-child(1){
    width:31%;
    height:.75rem;
}
.footer li:nth-child(2),.footer li:nth-child(3),.footer li:nth-child(4){
    width:23%;
    height:.75rem;
    font-size: .2rem;
    margin:0;
    position: relative;
}
.footer li:nth-child(2) a,.footer li:nth-child(3) a,.footer li:nth-child(4) a{
    position:absolute;
    top:0%;
    left:20%;
    color:#e45050;
}
.footer li:nth-child(1) a{
    width:33.333333%;
    height:100%;
    display:inline-block;
    text-align: center;
    line-height:.74rem;
    font-size: 0;
    position:relative;
}
.footer li:nth-child(1) a img{
    width:.34rem;
    height:.34rem;
    display:block;
    margin:0 auto;
    margin-top:.1rem;
}
.footer li:nth-child(1) a i{
    display:inline-block;
    font-style:normal;
    font-size: .18rem;
    color:#333;
    position:absolute;
    top:30%;
    left:16%;
}
.scroll_fixed{
    width:100%;
    height:.8rem;
    background-color:#fff;
    display:none;
    position:fixed;
    top:0;
    font-size: 0;
}
.scroll_fixed a{
    width:25%;
    height:100%;
    display:inline-block;
    text-align: center;
    line-height:.8rem;
    font-size: .22rem;
    color:#999;
}
.scroll_fixed a.cur{
    color:#e45050;
}