<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="Author" contect="U2FsdGVkX1+liZRYkVWAWC6HsmKNJKZKIr5plAJdZUSg1A==">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title>淘金明细</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_products_list.css">
</head>

<body>
    <header id="header" class="fixed">
        <div class="header-wrap">
            <div class="header-l"><a href="javascript:history.go(-1)"><i class="back"></i></a></div>
            <div class="header-title">
                <h1>淘金明细</h1>
            </div>
        </div>
        <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a> </div>
        <div class="nctouch-nav-layout">
            <div class="nctouch-nav-menu"> <span class="arrow"></span>
                <ul>
                    <li><a href="../../index.html"><i class="home"></i>首页</a></li>
                    <li><a href="../search.html"><i class="search"></i>搜索</a></li>
                    <li><a href="javascript:void(0);"><i class="message"></i>消息<sup></sup></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="nctouch-main-layout">
        <div id="distlog_list" class="list"> </div>
    </div>
    
    <div class="fix-block-r">
        <a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i></i></a>
    </div>
    
    <script type="text/html" id="distlog">
        <% if (data.items.length > 0) { %>
            <% for (var k in data.items) { %>
                <li class="<%if(k>0){%>mt10<%}%>">                    
				<div class="nctouch-order-item">
					<div class="nctouch-order-item-con">
                        <div class="goods-block">
                            <a href="javascript:void(0);">
                                <div class="goods-pic"><img src="<%=data.items[k].goods_image%>" /></div>
                                <dl class="goods-info">
                                    <p>订单号：<%=data.items[k].order_id%></p>
									<p>商品名：<%=data.items[k].goods_name%></p>
									<p>价格：<%=data.items[k].goods_price%></p>
                                </dl>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <%}%>
        <% } else { %>
            <div class="nctouch-norecord talk">
                <div class="norecord-ico"><i></i></div>
                <dl>
                    <dt>没有相关数据！</dt>
                    <dd></dd>
                </dl>
            </div>
        <% } %>
    </script>
    
    <script type="text/javascript" src="../../js/config.php"></script>
    <script type="text/javascript" src="../../js/zepto.min.js"></script>
    <script type="text/javascript" src="../../js/template.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="../../js/simple-plugin.js"></script>
    <script type="text/javascript" src="../../js/tmpl/footer.js"></script>
    <script type="text/javascript" src="../../js/tmpl/distlog.js"></script>
</body>

</html>
