@charset "utf-8";

.color-red {color:#e45050;}
html {
    font-size:112.5px !important;
}
@media only screen and (min-width: 320px){
    html {
        font-size: 34.5px !important;
    }
}
@media only screen and (min-width: 335px){
    html {
        font-size: 36.9px !important;
    }
}
@media only screen and (min-width: 350px){
    html {
        font-size: 38.7px !important;
    }
}
@media screen and (min-width: 360px) {
    html {
        font-size: 40px !important;
    }
}
@media only screen and (min-width: 370px){
    html {
        font-size: 41.3px !important;
    }
}
@media screen and (min-width: 375px) {
    html {
        font-size: 42.2px !important;
    }
}
@media only screen and (min-width: 380px){
    html {
        font-size: 43px !important;
    }
}
@media only screen and (min-width: 385px){
    html {
        font-size: 43.6px !important;
    }
}
@media only screen and (min-width: 390px){
    html {
        font-size: 44.3px !important;
    }
}
@media only screen and (min-width: 395px){
    html {
        font-size: 44.9px !important;
    }
}
@media screen and (min-width: 400px) {
    html {
        font-size: 45.5px !important;
    }
}
@media only screen and (min-width: 410px){
    html {
        font-size: 46.9px !important;
    }
}
@media only screen and (min-width: 412px){
    html {
        font-size: 47px !important;
    }
}
@media screen and (min-width: 414px) {
    html {
        font-size: 47.3px !important;
    }
}
@media screen and (min-width: 415px) {
    html {
        font-size: 47.5px !important;
    }
}
@media only screen and (min-width: 420px){
    html {
        font-size: 48.2px !important;
    }
}
@media only screen and (min-width: 425px){
    html {
        font-size: 49px !important;
    }
}
@media only screen and (min-width: 430px){
    html {
        font-size:49.6px !important;
    }
}
@media only screen and (min-width: 435px){
    html {
        font-size: 50.2px !important;
    }
}
@media screen and (min-width: 440px) {
    html {
        font-size: 50.9px !important;
    }
}
@media screen and (min-width: 445px) {
    html {
        font-size: 51.5px !important;
    }
}
@media screen and (min-width: 450px) {
    html {
        font-size: 52.5px !important;
    }
}
@media screen and (min-width: 455px) {
    html {
        font-size: 53px !important;
    }
}

/* pad */
@media only screen and (min-width: 760px){
    html {
        font-size: 94.4px !important;
    }
}
@media only screen and (min-width: 765px){
    html {
        font-size: 95px !important;
    }
}
@media only screen and (min-width: 768px){
    html {
        font-size: 95.2px !important;
    }
}
@media only screen and (min-width: 1024px){
    html {
        font-size: 129.2px !important;
    }
}

/***************头部部分开始**************************************/
.person{
	width:100%;
	height:1.13rem;
	background-color: #2d2f3b;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
}
.person .title{
	height:1rem;
	padding: .416rem 0 0 4%;
}
.person .title a img{
	width:.49rem;
	height:.49rem;
}
.person .title span{
	font-size: .42rem;
	color:#fff;
	vertical-align: top;
}
.person .title span{
	margin-left:32%;
}
.person .title a img.info{
    margin-left:32%;
}
/***************头部部分结束**************************************/

.gundong_show{	
	background-color: #fff;
	position:fixed;
	top:1rem;
	z-index:200;
	width:100%;
	height:1.4rem;
}
.gundong_show .swiper-container {
    width: 100%;
    height:100%;
    border-bottom:.02rem solid #eee;
}
.gundong_show .swiper-slide {
    text-align: center;
    font-size: 0;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.gundong_show .swiper-slide a{
    width:25%;
    height:100%;
    text-align: center;
    display:inline-block;
}
.gundong_show .swiper-slide a img{
    width:.88rem;
    height:.88rem;
}
.gundong_show .swiper-slide a span{
    font-size: .3rem;
    display:block;
    color:#51453e;
    margin-top:.1rem;
}
/**************主图轮播图*************************/
.slider_list { position: relative; z-index: 1; overflow: hidden;clear:both;height:3.62rem;margin-top:1.1rem}
.swipe { position: relative; overflow: hidden; visibility: hidden; }
.swipe-wrap { overflow: hidden; position: relative; height:3.62rem;}
.swipe-wrap > div { float: left; width: 100%; height:100%;position: relative; }
.swipe-wrap img { width: 100%;height:100%;}
/**************主图轮播图*************************/

/***********翻页图标**********/
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: .14rem;
    color:#000;
    margin: 0;
    padding: 0;
}
.lb1 .swiper-container {
    width: 100%;
    height: 3.55rem;
    margin-left: auto;
    margin-right: auto;
}
.lb1 .swiper-slide {
    text-align: center;
    font-size: .18rem;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.lb1 .swiper-slide ul{
    width:100%;
    height:3.48rem;
    font-size:0;
}
.lb1 .swiper-slide ul li{
    width:25%;
    height:1.74rem;
    display:inline-block;
    text-align: center;
    vertical-align:top;
}
.lb1 .swiper-slide ul li img{
    width:0.88rem;
    height:0.88rem;
}
.lb1 .swiper-slide ul li span{
    font-size: .28rem;
    display:block;
    color:#51453e;
    margin-top:.1rem;
}
/***********翻页图标**********/

/*************不可错过系列********************/
.notmiss{
	width:95%;
	height:5.45rem;
	background-color: #fff;
	margin:0 auto;
	margin-top:.18rem;
	border-radius: .15rem;
}
.notmiss .notmiss_title{
	width:100%;
	height:.846rem;
	border-radius: .15rem;
}
.notmiss .notmiss_title img{
	width:100%;
	height:100%;
	border-radius: .15rem;
}
.notmiss .notmiss_icon{
	width:100%;
	height:.3rem;
	font-size: 0;
}
.notmiss .notmiss_icon span{
	font-size: .24rem;
	color:#51453e;
	margin-left:.1rem;
	line-height:.3rem;
}
.notmiss .notmiss_icon span img{
	width:.12rem;
	height:.1rem;
	margin-top:0.08rem;
	margin-right:.05rem;
}
.notmiss .notmiss_icon span:nth-child(2){
	margin-left: 10%;
}
.notmiss .notmiss_icon span:nth-child(3){
	margin-left:8%;
}
.notmiss .notmiss_contain{
	width:100%;
}
.notmiss .notmiss_contain ul{
	font-size: 0;
}
.notmiss .notmiss_contain ul li{
	width:33.3333333333%;
	display:inline-block;
	text-align: center;
}
.notmiss .notmiss_contain ul li img{
	width:100%;
	height:2.79rem;
}
.notmiss .notmiss_contain ul li span{
	display:inline-block;
	font-size:.28rem;
	color:#868686;
	width:1.6rem;
	height:.4rem;
	overflow:hidden;
}

.notmiss .notmiss_contain ul li .button{
	width:2rem;
	height:.65rem;
	margin-top:.15rem;
	outline:none;
	border:0 none;
	font-size: .34rem;
	color:#fff;
	background-color:#e45050;
	border-radius:.3rem;
}
/*************不可错过系列********************/

/***********淘尚生活家**********/
.lifehome{
	width:100%;
	height:auto;
	margin-top: .18rem;
	background-color: #fff;
}
.lifehome .lifehome_title{
	width:100%;
	height:.83rem;
    border-bottom:.01rem solid #ededed;
}
.lifehome .lifehome_title .lifehome_title_item1{
    width:100%;
    height:100%;
    display:inline-block;
    text-align: center;
    font-size: .3rem;
    font-weight: bold;
    line-height: .6rem;
}
.lifehome .lifehome_title .lifehome_title_item{
    float: left;
    width:49%;
    height:100%;
    display:inline-block;
    text-align: center;
    font-size: .3rem;
    font-weight: bold;
    line-height: .83rem;
}
.lifehome .lifehome_title img{
	width:100%;
	height:100%;
}
.lifehome .lifehome_contain{
	font-size: 0;
}
.lifehome .tab{
    width:100%;
    height:4.75rem;
}
.visibility{visibility: hidden !important;position: absolute !important;z-index: -1 !important;}
/*.lifehome .tab2{
    display:none;
}*/
 .newlb1 .swiper-container {
    /*width: 100%;*/
    height:4.75rem;
    margin: 0 auto;
    background-color: #fff;
}
.newlb1 .swiper-slide {
    /*width:2.7rem !important;*/
    width: 33.3333333%;
    height:4.75rem !important;
    margin: -1rem 0 0 0;
    border-radius: .1rem;
    text-align: center;
    font-size: .18rem;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position:relative;
}
.newlb1 .swiper-slide .main_img{
    width:2.7rem;
    height:2.7rem;
}
.newlb1 .swiper-slide .oldprice{
    color:#e45050;
    font-size: .18rem;
    position:absolute;
    top:85%;
    left:4%;
}
.newlb1 .swiper-slide .oldprice .newprice{
    color:#999;
    font-size: .18rem;
    text-decoration:line-through;
}
.newlb1 .swiper-slide .text{
    color:#394766;
    font-size: .2rem;
    position:absolute;
    top:80%;
    left:6%;
    width:2.4rem;
    height:.25rem;
    overflow: hidden;
}
.newlb1 .swiper-slide .sale_down{
    height:.25rem;
    width:auto;
    border-radius:.1rem;
    border:.01rem solid #fe575f;
    position:relative;
    margin-bottom: .1rem;
    position:absolute;
    top:91%;
    left:6%;
}
.newlb1 .swiper-slide .sheng{
    position:absolute;
    top:97%;
    left:6%;
 }
.newlb1 .swiper-slide .zhuan{
    position:absolute;
    top:103%;
    left:6%;
 }
.newlb1 .swiper-slide .sale_down .sale_down_img{
    width:.32rem;
    height:.24rem;
    background-color: #fe575f;
    border-radius:.1rem 0 0 .1rem;
    text-align: center;
    position:absolute;
    top:-1%;
    left:-1%;
    display:inline-block;
}
.newlb1 .swiper-slide .sale_down .sale_down_img img{
    width:.21rem;
    height:.21rem;
    margin-top:.03rem;
}
.newlb1 .swiper-slide .sale_down span{
    display:inline-block;
    font-size: .20rem;
    margin:0;
    margin-left: .25rem;
    line-height:.25rem;
    color:#582524;
    padding:0 .1rem 0 .1rem;
}
.newlb1 .swiper-slide .timebox{
    width:2.2rem;
    height:.53rem;
    background-color: #fff;
    border:.02rem solid #fe575f;
    position:absolute;
    top:109%;
    left:6%;
}
.newlb1 .swiper-slide .timebox .timebox_txt{
    width:40%;
    background-color: #fe575f;
    font-size: .18rem;
    color:#fff;
    display:inline-block;
    height:.53rem;
    line-height:.53rem;
    position:absolute;
    left:-.02rem;
    top:-.02rem;
}
.newlb1 .swiper-slide .timebox .timebox_date{
    width:60%;
    height:.45rem;
    position:absolute;
    right:0;
}
.newlb1 .swiper-slide .timebox .timebox_date_countdown{
    font-size:.18rem;
    color:#999;
    position:absolute;
    top:2%;
    left:10%;
}
.newlb1 .swiper-slide .timebox .timebox_progress{
    width:1.05rem;
    height:.2rem;
    background-color: #ffc0cb;
    position:absolute;
    bottom:8%;
    left:10%;
    border-radius:.2rem;
}
.newlb1 .swiper-slide .timebox .timebox_progress img{
    height:100%;
    position:absolute;
    left:0;
    border-radius:.2rem;
}
.newlb1 .swiper-slide .timebox .timebox_progress i{
    font-style:normal;
    font-size: .16rem;
    color:#fff;
    position:absolute;
    left:40%;
    top:10%;

}
.lifehome .lifehome_contain a:nth-child(1){
	/*width:32.4%;*/
	height:2.07rem;
	margin-top:.1rem;
	display:inline-block;
	margin-left: 1.4%;
}
.lifehome .lifehome_contain a:nth-child(4){
	width:32.4%;
	height:2.07rem;
	margin-top:.1rem;
	display:inline-block;
	margin-left: 1.4%;
}
.lifehome .lifehome_contain a{
	/*width:30.4%;*/
	height:2.07rem;
	margin-top:.1rem;
	display:inline-block;
	margin-left: 1.4%;
	/*position:relative*/
}
.lifehome .lifehome_contain a span{
	display:inline-block;
	width:.88rem;
	height:.35rem;
	position:absolute;
	right:0;
	bottom: 0;
	background-color:#000;
	opacity:.7;
	color:#fff;
	font-size: .18rem;
	text-align: center;
	line-height:.35rem;
}
.lifehome .lifehome_contain a img{
	width:100%;
	height:100%;
}
/***********淘尚生活家**********/
.new_title{
	width:100%;
	height:.83rem;
	border-bottom:.01rem solid #ededed;
	background-color:#fff;
	text-align: center;
	line-height:.83rem;
	font-size: .3rem;
	font-weight: bold;
	margin-top: .2rem;
}
.lb2 .lb2_title{
 	width:100%;
 	height:.63rem;
 	border-top: .01rem solid #ededed;
 	background-color:#fff;
 	font-size: .28rem;
 	color:#262626;
 	line-height:.63rem;
 	padding-left:.2rem;
 }
.lb2 .swiper-container {
    width: 100%;
    height:4.75rem;
    margin: 0 auto;
    background-color: #fff;
}
.lb2 .swiper-slide {
    /*width:2.7rem !important;*/
    width: 33.333333%;
    height:4.75rem !important;
    margin: -1rem 0 0 0;
    border-radius: .1rem;
    text-align: center;
    font-size: .18rem;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position:relative;
}
/*.tab .swiper-container{
    margin-right:-15px !important;}*/
.swiper-slide.slide-last{margin: 0 !important;background-color: rgba(228, 80, 80, .7);-webkit-background-color: rgba(228, 80, 80, .7);}
.swiper-slide.slide-last a{font-size: 0.32rem;color:#fff;}
.lb2 .swiper-slide .main_img{
    /*width:2.7rem;*/
    height:2.7rem;
    width: 100%;
}
.lb2 .swiper-slide .oldprice{
    color:#999;
    font-size: .25rem;
    position:absolute;
    top:80%;
    left:4%;
}
.lb2 .swiper-slide .newprice{
	color:#999;
	font-size: .25rem;
	position:absolute;
	top:86%;
	left:4%;
}
.lb2 .swiper-slide .text{
    color:#333;
    font-size: .28rem;
    position:absolute;
    top:92.6%;
    left:6%;
    width:2.4rem;
    height:.35rem;
    overflow: hidden;
}
.lb2 .swiper-slide .bg_all{
    /*width:2.1rem;*/
    height:.249rem;
    position:absolute;
    top:96.2%;
    left:5%;
}
.lb2 .swiper-slide .bg1{
    float: left;
	display:inline-block;
	background:url(../../images/proprietary_img/share_bg@2x.png);
	background-size:100% 100%;
	margin-top: .25rem;
	font-size: .2rem;
	color:#fff;
	text-align: center;
	line-height:.25rem;
    padding:0 .03rem 0 .03rem;
}
.lb2 .swiper-slide .bg2{
    float: left;
	display:inline-block;
	background:url(../../images/proprietary_img/share_bg@2x.png);
	background-size:100% 100%;
	margin-top: .25rem;
	font-size: .16rem;
	color:#fff;
	text-align: center;
	line-height:.25rem;
    padding:0 .03rem 0 .03rem;
    margin-left: .1rem;
}
.lb2 .swiper-slide .act{
    font-size: 0;
	/*width:100%;*/
	height:.3rem;
	position:absolute;
    right:0;
	top:80%;
}
.lb2 .swiper-slide .act i{
	font-size: .25rem;
	color:#e45050;
	float: left;
	font-style:normal;
	margin-left: .25rem;
}
.lb2 .swiper-slide .act b{
	font-weight:normal;
	font-size: .22rem;
	color:#e45050;
	border:.015rem solid #e45050;
	/*margin-left: .1rem;*/
	float: left;
    margin: 0 0.08rem 0 0.02rem;
    height:0.32rem;
    line-height: 0.32rem;
	border-radius:.05rem;
    text-align: center;
}
.lb2 .swiper-slide .book_n{
	width:.52rem;
	height:.52rem;
	position:absolute;
	left:8%;
	top:108%;
}
.lb2 .swiper-slide button{
	width:1.6rem;
	height:.46rem;
	line-height:.46rem;
	border:0;
	outline:none;
	color:#e45050;
	font-size: .24rem;
	position:absolute;
	left:50%;
	top:108%;
	background-color:#fff;
	border:.02rem solid #e45050;
	border-radius:.2rem;
}

/********商品导航栏**********/
.nav{
	width:100%;
	height:.7rem;
	border-bottom: .01rem solid #f1f1f1;
	margin-top: .23rem;
	background-color: #fff;
}
.nav ul{
	width:100%;
	height:.7rem;
	font-size:0;
}
.nav ul li{
	display:inline-block;
	width:1.2rem;
	height:.69rem;
	line-height:.69rem;
	font-size: .22rem;
	margin-left:11%;
	color:#151515;
	text-align: center;
}
.nav ul li.cur{
	border-bottom:.02rem solid #e45050;
}
/********商品导航栏**********/

/**************商品***************/
.proprietary_goods{
    width:100%;
    margin:0 auto;
    background-color:#eeeeee;
    overflow:hidden;
}
.proprietary_goods ul{
    width:100%;
    height:auto;
    font-size:0;
}
.proprietary_goods ul li{
    width:49.2%;
    height:5.52rem;
    float: left;
    margin-bottom:.1rem;
    background-color: #fff;
    position:relative;
}
.proprietary_goods ul li:nth-child(even){
    float: right;
}
.proprietary_goods .goods_img{
    width:100%;
    height:3.17rem;
    position:relative;
    font-size: 0;
}
.proprietary_goods .goods_img img{
    width:100%;
    height:100%;
}
.proprietary_goods .goods_img span{
    display:block;
    font-size: .22rem;
    color:#383838;
    margin-top:.15rem;
    width:2.5rem;
    height:.3rem;
    overflow:hidden;
    margin-left: .1rem;
}
.proprietary_goods .goods_img u{
    display:inline-block;
    width:2.8rem;
    height:.34rem;
    font-size: .28rem;
    overflow:hidden;
    text-decoration:none;
    margin-left: .1rem;
    color:#333;
}
.proprietary_goods .goods_img .bg{
    display:inline-block;
    margin-left: .1rem;
    width:1.18rem;
    height:.25rem;
    background:url(../../images/proprietary_img/share_bg@2x.png);
    background-size:100% 100%;
    margin-top: .1rem;
    font-size: .16rem;
    color:#fff;
    text-align: center;
    line-height:.25rem;
}
.proprietary_goods .goods_img i{
    display:inline-block;    
    font-size: .22rem;
    color:#e45050;
    font-style:normal;
    margin-left: .1rem;
    margin-top:.1rem;
}
.proprietary_goods .goods_img del{
    display:inline-block;
    font-size: .2rem;
    color:#e45050;
    font-style:normal;
    margin-left:.1rem;
    border:.01rem solid #e45050;
    border-radius:.05rem;
    text-decoration: none;
}
.proprietary_goods .goods_img .book_n{
    width:.45rem;
    height:.45rem;
    margin-left: .1rem;
    margin-top:.2rem;
}
.proprietary_goods .goods_img .sheng{
    float: right;
    width:1.38rem;
    height:.38rem;
    outline: none;
    border:0 none;
    border:.01rem solid #e45050;
    background-color:#fff;
    font-size: .26rem;
    text-align: center;
    line-height:.38rem;
    border-radius:.2rem;
    margin-right: .2rem;
    margin-top:.2rem;
    color:#e45050;
}
/**************商品***************/

/*******弹窗*******/
*{
	margin:0;
	padding:0;
}
.win-bottom{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	z-index:100;
	background:#000;
	opacity: .5
}
.win-top{
	width:1.4rem;
	height:.5rem;
	background-color: #e45050;
	position:fixed;
	top:70%;
	margin-top:-1.85rem; 
	left:35%;
	display:none;
	z-index:101;
	border:.01rem solid transparent;
	border-radius:.1rem;
	font-size: 0;
}
.win-top b{
	display:inline-block;
	font-size: .3rem;
	text-align: center;
	color:white;
	margin-left: 15%;
	margin-bottom: .1rem;
}
/*******弹窗*******/